[2012-05-22 15:01] jabyeah opened #1 "OBD Reader crash on Fiat Grande Punto"
I have proved the app Android OBD Reader in a Fiat Grande Punto using a generic ELM327 bluettoth interface. I use an Acer Iconia tab a500 with ICS 4.0.3.

I start the app and select in settings my bluettoth device. Then, when I select 'start live data', the app shows some information, but a few later, the app crash and display the message 'obd reader has closed unexpectly'.

This is the logcat:

0

[2012-08-02 02:19] guanlisheng opened #2 "Add battery support"
such as AT RV to read the Voltage

[2013-07-24 13:19] pires opened #4 "Migrate build from Maven to Gradle"
Since SDK 22, Android now uses Gradle for build management.

[2013-07-24 13:22] pires opened #5 "Display OBD connection status in UI"
**What steps will reproduce the problem?**
1. Start the application.
2. Watch the screen and try to tell if your phone can actually talk to the OBD reader.

**What is the expected output? What do you see instead?**
I would like to have a status message (e.g. in the main window) telling me whether an OBD reader has been found and the app can talk to it - in a way that is clear even to new users of

[2013-07-24 13:32] pires opened #6 "Implement Trouble Codes decoding"
Trouble codes have never been implemented before.

[2013-08-08 15:32] kenticus opened #7 "Cant connect to adapter starting with android 4.2.1"
I've used this code on several devices.

4.0.4 - works great.
4.1.2 - work great.
4.2.1 - doesn't work.
4.3 - doesn't work.

I've found out that Androids stack for bluetooth changed in android v4.2
When executing socket.connect() you will get this error back every time:
"connect read failed, socket might closed or timeout, read ret: -1"

Here is my stackoverflow question.
http://stackoverflow.com/

[2013-08-10 12:50] sebaroesch opened #8 "shifted return values"
When I ran the latest version of obd-api I saw that the results of all commands where shifted. See the following example:

| Command name | Command | Result |
| --- | --- | --- |
| Reset OBD | AT Z |  |
| Echo Off | AT E0 | ELM327v1.3a |
| Echo Off | AT E0 | ATE0\nOK |
| Line Feed Off | AT L0 | OK |
| Vehicle Speed | 01 0D | OK |
| Engine RPM | 01 0C | 410D4B |
| Vehicle Speed | 01 0D | 410C6CB7 |

[2013-08-10 14:06] sebaroesch opened #9 "SpeedObdCommand - getMetricSpeed()"
Since metricSpeed is calulated by getFormattedResult() the speed (metric and imperial) is only available after getFormattedResult() was called, otherwise it is 0.

https://github.com/pires/android-obd-reader/blob/master/obd-api/src/main/java/eu/lighthouselabs/obd/commands/SpeedObdCommand.java#L41

I´d suggest to calculate the metric speed in getMetricSpeed() and call that method from getFormattedR

[2013-09-21 15:58] #9 closed, assigned to pires

[2013-09-24 22:06] kenticus opened #10 "POM missing trace.jar"
When running maven on the api, I get this error message

[WARNING] The POM for com.nullwire:trace:jar:1.1 is missing, no dependency information available

[2013-09-24 22:15] #10 closed, assigned to nobody

[2013-10-15 05:02] jessolo opened #11 "Unable to build apk"
Hi, I am using Maven 3.1.0 to build the apk and the jar.I am getting the error when doing dependency:resolve

Some problems were encountered while building the effective model for eu.lighthouselabs.obd:reader:apk:1.3
'build.plugins.plugin.version' for com.pyx4me:proguard-maven-plugin is missing. @ line 68, column 15

Can you pls help get this sorted out.

[2014-02-18 14:28] #11 closed, assigned to nobody

[2014-02-18 14:29] #4 closed, assigned to pires

[2014-02-18 14:31] pires opened #13 "OBD commands are queued but queue doesn't start"
I forgot to merge _executeJobQueue()_ call. Will fix this ASAP!

This was spotted by **Nico Reicher**.

[2014-02-18 14:34] Arise opened #14 "Not in sync with Android OBD-II Reader"
Not sure if the bug should be here on on the Android list.

However, when I build the project, I get this:
C:\Users\Andrei.m2\repository\pt\lighthouselabs\obd\obd-java-api\0.3-SNAPSHOT\obd-java-api-0.3-SNAPSHOT.jar

However, in the Android the lib included is api-1.3.jar

Also, in android I see references to ObdBaseCommand which are missing from the obd-java-api-0.3-SNAPSHOT.jar

Can you please cl

[2014-02-19 14:39] #13 closed, assigned to pires

[2014-02-19 14:39] #14 closed, assigned to pires

[2014-02-19 16:11] #1 closed, assigned to pires

[2014-02-26 16:13] Cesc83 opened #15 "Bluetooth socket timeout with latest version"
I am getting the following error when trying to connect to an ELM 327 interface with latest version.

It seem like a Bluetooth socket timeout (hci_status=36).

This was not happening with earlier versions.

02-26 15:46:05.671  13208-13208/pt.lighthouselabs.obd.reader W/BluetoothAdapter﹕ getBluetoothService() called with no BluetoothManagerCallback
02-26 15:46:06.822    7400-7442/? W/bt-btif﹕ info:

[2014-03-10 11:16] omarpontis opened #16 "Failure in the execution of commands"
The communication between my hardware simulator and the app begins, but no commands are executed.
When i read "OK" everything goes fine. The problems comes later when i read "SEARCHING...". I get this message in logcat:
4800-4800/pt.lighthouselabs.obd.reader E/pt.lighthouselabs.obd.reader.io.ObdGatewayService﹕ Failed to run command. -> Invalid int: "0xSE"

Same speech for "STOPPED...". I get the s

[2014-03-19 20:47] olimpotec opened #17 "Can't generate R class"
How to fix it?

Example:

obd/reader/io/ObdGatewayService.java:141: error: package R does not exist
    showNotification("Tap to open OBD-Reader", "Starting OBD connection..", R.drawable.ic_launcher, true, true, false);

[2014-03-19 21:07] #17 closed, assigned to nobody

[2014-03-26 23:50] olimpotec opened #18 "Error on Connect do OBDII Adapter. Cant read data..."
"There was an error while establishing connection. -> read failed, socket might closed or timeout, read ret: -1"
Error at this point:
 sock.connect();

I don't know what is the solution... =/

[2014-04-21 13:56] #6 closed, assigned to pires

[2014-04-21 14:44] #7 closed, assigned to pires

[2014-04-21 14:44] #15 closed, assigned to nobody

[2014-04-21 14:44] #18 closed, assigned to nobody

[2014-06-09 09:24] john-colgrave opened #21 "Can't connect to OBD Device"
I am trying to use this app with this device: http://www.amazon.co.uk/Supper-Bluetooth-Compatible-Android-Support/dp/B009NPAORC/ref=pd_bxgy_ce_img_z

I can use the device with the Torque Pro App but this app cannot connect to it.

How can I diagnose what the issue is?

[2014-06-16 13:15] VCVMD opened #22 "Every 2nd Stop Live Data crash"
Hi,
i noticed a bug with "Stop Live Data".
I get a crash every 2nd time (Start Live Data -> Stop Live Data -> Start Live Data -> Stop Live Data).

06-16 15:10:35.019: E/AndroidRuntime(5038): FATAL EXCEPTION: main
06-16 15:10:35.019: E/AndroidRuntime(5038): java.lang.IllegalArgumentException: Service not registered: pt.lighthouselabs.obd.reader.activity.MainActivity$3@41d9e930
06-16 15:10:35.019: E

[2014-06-23 14:13] paulogeorge opened #23 "No class called ObdCommand"
Please help !!!...I tried downloading the app zip and importing.However i am finding an error
The ObdCommand class seems to be missing. I am using eclipse which i know is not the Prerequisite . Any help would be greatly appreciated.Thanks in advance

[2014-06-24 13:14] gmort opened #24 "wont build"
from command line it gets stuck on "building 98%"

![image](https://cloud.githubusercontent.com/assets/5929795/3371503/6674c37a-fba1-11e3-85c8-49a2e6bf6ca1.png)

within studio

9:11:04 AM Gradle 'android-obd-reader-master' project refresh failed:
           Cause: org.gradle.plugins.ide.internal.IdeDependenciesExtractor.extractRepoFileDependencies(Lorg/gradle/api/artifacts/ConfigurationContainer;L

[2014-06-24 14:28] #24 closed, assigned to nobody

[2014-07-07 19:22] abhijitpandey opened #25 "Can't get ECU data using Android 4.4.4 LG Nexus"
This is the same bug as #7

D/pt.lighthouselabs.obd.reader.io.ObdGatewayService(20310): Queing jobs for connection configuration..
W/bt-btif ( 1774): new conn_srvc id:26, app_id:1
D/pt.lighthouselabs.obd.reader.io.ObdGatewayService(20310): Adding job[1] to queue..
D/pt.lighthouselabs.obd.reader.io.ObdGatewayService(20310): Job queued successfully.
D/pt.lighthouselabs.obd.reader.io.ObdGatewayServic

[2014-07-08 10:52] ss1271 opened #26 "Will crash if "Start Live Data" with no bluetooth device connected"
How to reproduce:
* Turn on Bluetooth and don't connect to any bluetooth devices
* Open the app, and tap "Start Live Data"

Device:
Nexus 4 with stock 4.4.4 (KTU84P), no root access

Here's the log:

    07-08 11:43:14.307  17491-17491/pt.lighthouselabs.obd.reader E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: pt.lighthouselabs.obd.reader, PID: 17491
    java.lang.IllegalArgumentException: n

[2014-07-10 13:50] droweed opened #27 "Add Pending DTC support"
"07"
I'm currently adding it myself, but I'm stuck in converting the results.

[2014-07-10 15:02] #25 closed, assigned to nobody

[2014-07-10 15:03] #23 closed, assigned to nobody

[2014-07-10 15:04] #21 closed, assigned to nobody

[2014-07-10 15:06] #16 closed, assigned to pires

[2014-07-10 15:08] #27 closed, assigned to nobody

[2014-07-25 00:04] mohataher opened #31 "Issue in ObdReading model"
Have a look at the pt.lighthouselabs.obd.reader.net.ObdReading

 `public ObdReading(double latitude, double longitude, String vin, Map<String, String> readings, Date timeReading)  {
        this.latitude = latitude;
        this.longitude = longitude;
        this.timestamp = timestamp;
        this.vin = vin;
        this.readings = readings;
    }`

`this.timestamp = timestamp;` is clearly a bug

[2014-07-25 09:13] #31 closed, assigned to nobody

[2014-07-28 07:57] batsri opened #32 "obd2 reader - Fuel Level Command"
Hi,
I use the obd2 reader library in my application to retrieve data regarding the vehicle,
I've succeeded to receive valid data regarding Engine RPM but in the fuel level command I receive 0. I understood that this command is not working for all the vehicles, can you tell me in which vehicles it does work?

thanks in advance,
Meital

[2014-07-29 12:31] #22 closed, assigned to nobody

[2014-07-29 14:19] #32 closed, assigned to nobody

[2014-08-03 15:36] chenxiemin opened #34 "RPM becomes "-1" after a while."
The rpm data changes to -1 after a while. Also, all of the ObdCommand of Mode1 execute fail. And the data return: STOPPED.

[2014-08-03 21:41] v8ramair opened #35 "Get DTC option causes app to crash"
I'm in no way an expert on OBD and ELM327, but found an issue that I can't get around.

On all vehicles tested (2013 Audi, 2007 Ford, 2004 Chevrolet, 2006 Lexus), "Get DTC" crashes with a BAFX ELM327 scan tool.

First, this sounds more like a Lighthouselabs obdcommand issue.  Here's what's happening:
1) We pass in the command to get DTC codes
2) In the ObdCommand class, rawData = res.toString().tr

[2014-08-05 11:00] #34 closed, assigned to nobody

[2014-08-09 09:38] fbi007130 opened #36 "Counld not run in eclipse,all libs is imported."
08-09 17:37:36.442: E/AndroidRuntime(24522): FATAL EXCEPTION: main
08-09 17:37:36.442: E/AndroidRuntime(24522): java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{pt.lighthouselabs.obd.reader/pt.lighthouselabs.obd.reader.activity.MainActivity}: java.lang.ClassNotFoundException: Didn't find class "pt.lighthouselabs.obd.reader.activity.MainActivity" on path: DexPathList[[zip fi

[2014-08-15 11:24] #36 closed, assigned to nobody

[2014-08-20 11:21] KarthickCk opened #37 "Get FuelType results in crash"
Process: pt.lighthouselabs.obd.reader, PID: 23858
    java.lang.NullPointerException
            at pt.lighthouselabs.obd.commands.fuel.FindFuelTypeObdCommand.getFormattedResult(FindFuelTypeObdCommand.java:50)
            at pt.lighthouselabs.obd.reader.activity.MainActivity.stateUpdate(MainActivity.java:195)
            at pt.lighthouselabs.obd.reader.io.MockObdGatewayService$2.run(MockObdGateway

[2014-08-25 18:02] fabcira opened #39 "getFormattedResult crashes on DistanceTraveledSinceCodesCleared"
the error is related to not being able to format integers as floats
(FuelType does it as well)
Fabio

[2014-08-25 18:13] fabcira opened #40 "random measurements"
This is rather difficult to report. I get random values for the variables.
When the car is not moving I randomly get speed readings >0.
The ambient  temperature has random values 32F (in August) and changes widely.
Several others have similar unreasonable behaviours.
The problem seems to be particularly visible with Imperial Units: the speed is nearly always wrong  and  sometimes seems to be mixed

[2014-09-25 16:41] #39 closed, assigned to nobody

[2014-09-25 16:43] #37 closed, assigned to nobody

[2014-09-25 16:43] #8 closed, assigned to pires

[2014-10-06 08:06] ghost opened #41 "Wifi ELM327 support?"
Hello! What about support WiFi ELM327 adapter?

[2014-11-25 10:30] garvgarg opened #42 "ObdCommand library doesn't exists in source code?"
I am trying to compile the code in git repo. I didn't find pt.lighthouselabs.obd.commands.ObdCommand library. Can you please upload the same? It will be much appreciated.

[2014-11-26 10:21] #42 closed, assigned to nobody

[2014-12-01 02:30] mateenc opened #43 "Unable to see MenuItem"
I have setup everything with the OBD API and I am unable to see the MenuItem, and cannot get into TroubleCodesActivity, the application crashes.

[2014-12-03 20:31] #43 closed, assigned to nobody

[2014-12-08 15:32] #35 closed, assigned to nobody

[2014-12-10 09:58] #41 closed, assigned to nobody

[2014-12-10 20:40] a7medshe7ata opened #46 "dtc error"
when running dtc trouble codes i goth this result appear in screen
[dtc screenshoot ](http://mahmoudnaguib.com/clients/dtc.jpg)

does i need to parse returned result
i am working on simulator , protocol CAN

[2014-12-11 11:21] a7medshe7ata opened #47 "what are supported protocols"
currently i am testing on can ,
what are supported protocols
?

[2014-12-11 13:16] #46 closed, assigned to nobody

[2014-12-11 13:17] #47 closed, assigned to nobody

[2014-12-14 19:58] a7medshe7ata opened #48 "build with gradle"
i tried to build using gradle , its okay put i want to download all source code
dependencies {
    provided 'com.android.support:appcompat-v7:19.1.0'
    provided 'org.roboguice:roboguice:3.0b-experimental'
    provided 'pt.lighthouselabs.obd:obd-java-api:0.7'
    provided 'com.squareup.retrofit:retrofit:1.6.1'
}

how to add this libraries using gradle or any tool

i am using android studio

[2014-12-15 11:40] #48 closed, assigned to nobody

[2014-12-16 11:18] Jamesking56 opened #49 "Installation Instructions"
Hello,

I am building an Android App that needs to communicate with an ELM327 device.

How would I go about installing this package and making use of it in my Android app?

[2014-12-16 11:35] #49 closed, assigned to nobody

[2014-12-20 20:41] nomwerp opened #52 "changing screen orientation stops live data"
when changing screen orientation (rotating device) while live data is running it will stop live data collection. looks like bluetooth connection could be reset since "Bluetooth OK" notification shows too. could it be that OnCreate() is called when changing orientation?

[2014-12-24 04:22] Hesamedin opened #53 "Divide by zero"
Hi man,

I did a lot of changes to the code in order to update it with most recent libs and Android APIs.
Will send you PR once I get all things done.

Meanwhile, I found a "divide by zero" exception. Although, it is being caught by IOException, I guess better way is to prevent divide operation is done. Please have a look at "FuelEconomyObdCommand.java" line 58.

`// get l/100km

[code]

Thanks

[2014-12-25 11:15] #53 closed, assigned to nobody

[2015-01-07 19:30] nomwerp commented on #26
i've just created a pull request that should fix this  , still needs to be tested (but should be safe) for the case there is a bluetooth adapter selected since my phone doesn't have a working one at the moment ;)

[2015-01-07 19:33] #26 closed

[2015-01-10 21:58] #52 closed

[2015-01-26 09:54] #40 closed

[2015-02-15 00:47] a7medshe7ata opened #60 "wifi"
i want to add support to this app to rub over wifi
from where i can start ?
what class should i edit to migrate from bluetooth to wifi

[2015-02-15 21:44] jeepingben opened #61 "android-obd-reader crashes on Get-DTC"
This happens 100% of the time for me on 2 vehicles.  I have tried building the latest and using the version distributed on f-droid with the same result.

Reading live data works, but Get-DTC causes the program to crash "Unfortunately obd-reader has stopped working".  This is the exception from logcat:
E/AndroidRuntime(26913): FATAL EXCEPTION: AsyncTask #1
E/AndroidRuntime(26913): Process: pt.light

[2015-02-15 21:54] nomwerp commented on #61
thanks, do you actually get any useful response when collecting live data or are all the
other commands also failing?

On Sunday 15 February 2015 13:45:00 jeepingben wrote:

This happens 100% of the time for me on 2 vehicles. I have tried building the latest and
using the version distributed on f-droid with the same result.
Reading live data works, but Get-DTC causes the program to crash "Unfortun

[2015-02-15 22:03] jeepingben commented on #61
Live data gives correct results on both vehicles.  RPM and coolant temperature are believable. No values had garbage.

[2015-02-16 11:31] pires commented on #60
https://github.com/pires/android-obd-reader/blob/master/src/main/java/pt/lighthouselabs/obd/reader/io/ObdGatewayService.java#L49

[2015-02-16 11:31] #60 closed

[2015-02-25 00:17] jeepingben commented on #61
Does it make sense to migrate the trouble-codes activity to the same more async looking command processor that live-data uses?  It's been a few days since I looked in the code, but I don't remember a reason that it wouldn't work.  If you think it makes sense, I could take a look at it (no promise it will be done in a timely manner)

[2015-02-25 22:47] nomwerp commented on #61
yes, it would make a lot of sense if live-data and trouble code activity share more of the code since they effectively do the same thing...   but on the other hand if we can prevent it from crashing by catching one more exception we should probably do that first.

[2015-03-09 14:03] elagin opened #67 "Enable/disable bluetooth only for use"
I create pull request https://github.com/pires/android-obd-reader/pull/66
Should bluetooth connection be turned on and off  into startLiveData() and stopLiveData() ?

[2015-03-09 14:17] pires commented on #67
Well, it's an interesting idea to ask the user to enable it before starting the app and helping him doing that. But of course, we still need to validate the device is paired as well.

We can also ask the user if he wants to disconnect Bluetooth when the app is stopped.

[2015-03-09 14:35] elagin commented on #67
The idea was to store the state of bluetooth before running the application and return it after the call stopLiveData ()
It is necessary to check whether the fast and reliable work if turn on BT device and immediately start reading data.

[2015-03-09 16:16] elagin commented on #67
I try call btAdapter.enable() info startLiveData(). Data acquisition process starts after recall startLiveData() into menu.
Possibly some function invoked asynchronously when the connection has not yet occurred .

[2015-03-10 11:44] pires commented on #67
What do you mean by `store the state of bluetooth`?

I believe thinks work as expected now and we only need to validate more scenarios when Bluetooth is enabled/disabled by the user.

[2015-03-10 12:13] elagin commented on #67
In MainActivity.onCreate call BluetoothAdapter.isEnabled() and store result info variable.
Then, for example in MainActivityonDestroy(), if ConfigActivity.ENABLE_BT_KEY && !variable call call BluetoothAdapter.Disable()

In the setting of only one item "Enable Bluetooth"

[2015-03-10 14:29] pires commented on #67
Oh, now I get it. Well, it's good to try turning it on/off depending on the app lifecycle. I'll be waiting for a PR to better assess this behavior.

[2015-03-10 21:51] nomwerp commented on #67
interesting, i was attempting something similar but instead of using

 `btAdapter.enable();`

i was trying something like:

`Intent enableBtIntent = new Intent(BluetoothAdapter.ACTION_REQUEST_ENABLE);`
`startActivityForResult(enableBtIntent, ENABLE_BLUETOOTH);`

and some more code to check if it was successful

` public void onActivityResult(int requestCode, int resultCode, Intent data) {
    swit

[2015-03-10 23:17] pires commented on #67
Intents are always the best way to do it in Android.

[2015-03-11 20:06] nomwerp commented on #67
one scenario that seems to be missed is to turn bluetooth off if it was automatically enabled  + app is paused + no live data is running ?

1) bluetooth is off
2) app started
3) bluetooth gets enabled
4) live data is started
5) live data is stopped
6) app paused
7) should bluetooth be turned off again?

[2015-03-11 20:19] nomwerp commented on #61
should be fixed by #63 , we should create a separate issue for improving trouble code activity

[2015-03-11 20:19] #61 closed

[2015-03-11 20:30] nomwerp opened #69 "add accelerometer data"
It would be great to have access to accelerometer data in the app (and especially future database uploads) , for example to correct for fuel usage for driving uphill or correlate engine load with power etc.

[2015-03-19 10:33] FunThomas76 opened #72 "Bluetooth is disabled after closing the app"
Hi,
normally my bluetooth is always on but after closing this app my bluetooth is turned off :(

best regards,
Thomas

[2015-03-19 11:17] pires commented on #72
@elagin @nomwerp I believe this was added recently, right?

[2015-03-19 11:20] elagin commented on #72
Yes recently been added. Now try to fix.

[2015-03-19 11:24] pires commented on #72
Thanks @elagin. Waiting for a PR then ;-)

[2015-03-19 12:16] elagin commented on #72
Ready  #73

[2015-03-19 12:22] pires commented on #72
@FunThomas76 fix LGTM. Care to try it out and let us know if it worked?

[2015-03-22 12:31] elagin commented on #67
If turn on bluetooth after start live data on my device i have trouble.
This is probably due to the fact that the connections necessary for some time, and this algorithm code which would have a connection in the event of repeated failure. Of course it makes sense to on bluetooth for use only (between start and stop).

[2015-03-23 12:39] FunThomas76 commented on #72
i could not believe that you could fix it that fast ;-)
i have to rebuild today evening and will report you then

[2015-03-23 12:48] pires commented on #72
@FunThomas76 reopening and waiting on your feedback to close the issue ;-)

[2015-03-23 16:28] FunThomas76 commented on #72
working as expected :)
after closing the app my bluetooth stays enabled like always
Thanx

[2015-03-23 16:28] #72 closed

[2015-03-23 17:13] pires commented on #72
Awesome!

[2015-03-25 10:02] elagin opened #78 "Definition of available PIDs"
OBD2 is support definition of available PIDs. Command 0100 - get avaible PIDs from 1 to 20.
For example on my Suzuki Sx4 (2008) return: BE 3F B8 13
10111110001111111011100000010011

But in the current implementation ObdCommand not possible to use only supported PIDs. It would be great to make a list of command PIDs and use it when creating commands. Such as is make in FuelTrim enum.

[2015-05-09 19:50] pires opened #80 "New UI based on Material Design"

[2015-05-09 19:50] pires commented on #80
Need help!

[2015-05-09 20:20] nomwerp commented on #2
isn't this one for pires/obd-java-api ? close this one and create an issue there?

[2015-05-09 20:23] nomwerp commented on #2
nevermind, just checked and it is already there: pires/obd-java-api#3

[2015-05-09 21:13] pires commented on #2
Yeah, I'm closing whenever that gets implemented.

[2015-05-09 21:15] nomwerp commented on #80
I guess it could make things pretty but it seems that android:Theme.Material requires API level 21 (current min is 10). since supposedly only 10% of devices use this is that something we want? or does it fall back gracefully? (although it might not install anymore)
https://developer.android.com/about/dashboards/index.html

[2015-05-09 21:22] nomwerp commented on #80
to answer my own question:
from main/res/values/styles.xml
"Theme customizations available in newer API levels can go in
            res/values-vXX/styles.xml, while customizations related to
            backward-compatibility can go here."

[2015-05-09 21:38] nomwerp commented on #80
just applying the theme and deleting the background colours in favour of the defaults doesn't even look too bad:

![device-2015-05-09-233637](https://cloud.githubusercontent.com/assets/10109262/7552144/5efc78f0-f6a4-11e4-8890-c3a87ba952e0.png)

[2015-05-09 22:15] pires commented on #80
I guess it never looked as prettier :D

[2015-05-09 22:24] nomwerp commented on #80
commit 8bebec600e  (still  looks as ugly as always on older versions )

but I'll play around for a bit with the new theme...

[2015-05-10 00:40] pires commented on #80
Awesome! Thanks

[2015-05-10 09:44] nomwerp commented on #80
Theme.Material.Light looks better in my opinion:

![device-2015-05-10-113704](https://cloud.githubusercontent.com/assets/10109262/7553726/1205087c-f709-11e4-9264-10da2a49c380.png)

nomwerp/android-obd-reader@0a8bc8c806

I'm having trouble getting the fancy shadows to show up , setting elevation works in the preview but not on device

[2015-05-10 15:52] fernando-costa commented on #80
i believe that you can expand compatibility using Android Support Library

http://developer.android.com/tools/support-library/index.html

[2015-05-10 18:17] pires commented on #5
This is closed now @nomwerp, right?

[2015-05-10 18:17] pires commented on #67
Can we close this one?

[2015-05-10 18:18] pires commented on #69
I wish we could just get proper fuel consumption support.

[2015-05-10 20:37] nomwerp commented on #5
well definitely not as fancy as described above , there is for example no status for successful OBD communication , but since nowadays the actual results is already printed to the screen in case of an communication error i.e. NODATA let's close this one and open a new issue for additional functionality (or bugs;)

[2015-05-10 20:37] #5 closed

[2015-05-10 21:03] nomwerp commented on #67
yes works great, my previous comment about disabling bluetooth when paused can be ignored, i don't think it should do that anyway and bluetooth does get disabled onDestroy().

[2015-05-10 21:03] #67 closed

[2015-05-14 14:50] nomwerp opened #82 "New Icons"
we should have a icon!

with some hints from http://www.google.com/design/spec/style/icons.html#icons-product-icons
i've made an attempt at drawing a svg (here attached as 144X144):

![ic_launcher](https://cloud.githubusercontent.com/assets/10109262/7633710/3407c00e-fa56-11e4-8bf9-2dfc11506c9c.png)

basic sprites from https://github.com/google/material-design-icons " released under an Attribution

[2015-05-14 16:58] pires commented on #82
Oh, so nice of you to actually get a new icon. It looks good :)

[2015-05-14 17:52] nomwerp commented on #82
where would be a good place to put .svg?  my best bet is directly in src/main/res

[2015-05-14 17:54] pires commented on #82
I have no idea.

[2015-05-14 20:30] pires commented on #82
Did you fix this with #83? If so, next time close it please.

[2015-05-14 20:36] nomwerp commented on #82
well if no complaints about the new icons i'd be happy to close...

[2015-05-14 20:36] #82 closed

[2015-05-14 21:44] pires commented on #80
@nomwerp we're ready to close this one, are we not?

[2015-05-14 21:45] pires commented on #82
You merged it and were waiting on complains? :-D

[2015-05-15 10:14] #80 closed

[2015-05-15 15:59] anti43 opened #85 "Auto Protocol selection maybe not working"
Hello,

I can connect with torque etc well, however if uisng android-odb-reader I cannot get past the protocol selection message. In the logs, I get:

pt.lighthouselabs.obd.exceptions.MisunderstoodCommandException: Error running AT E0, response: +CONNECTING<<A0:F?
	at java.lang.Class.newInstanceImpl(Native Method)
	at java.lang.Class.newInstance(Class.java:1319)
	at pt.lighthouselabs.obd.commands.

[2015-05-15 16:13] nomwerp commented on #85
hmmm it could be that the "CONNECTING"  in the response is causing some confusion , had  a similar issue with device returning "SEARCHING..."  in front of the first response.

if that is the case a crude fix could be to strip it from the response in  https://github.com/pires/obd-java-api/blob/master/src/main/java/pt/lighthouselabs/obd/commands/ObdCommand.java at the end of readRawData() add someth

[2015-05-15 18:05] anti43 commented on #85
Ok thanks I'll analyze the junk data..

[2015-05-15 20:20] pires commented on #85
I'm open to improvements on the https://github.com/pires/obd-java-api project.

[2015-05-15 20:21] anti43 commented on #85
ok I did a fork and will do pull requests when i found the issue!

2015-05-15 22:20 GMT+02:00 Paulo Pires <notifications@github.com>:

[2015-05-15 20:22] pires commented on #85
Awesome @anti43!

[2015-05-16 06:41] anti43 commented on #85
Ok,

I did some debugging now with my car and an obd terminal..
it seems there is the sequence +CONNECTING<<A0:F? >NNECTED ? at the beginning of the communication .. some sort of initializing message. plus the searching.. message is on front of any command response, not only on error codes..

[2015-05-16 07:37] pires commented on #85
Different cars and ELM327 devices respond differently. It's sad but it's the reality. I'm open to any improvement that adds support for responses like this without breaking previous functionality.

[2015-05-16 07:54] anti43 commented on #85
Ok,

reissung the rest command as you do with hte second echo command does solve the issue so nothing to chnage in the obd-api part.
- but then mostly i get some "unable to connect". I wonder how torque manages to do this as there ist working like always:)

[2015-05-16 08:00] nomwerp commented on #85
try with only a couple of OBD commands selected in the preferences, i've found that if you ask for one that is not supported you might be left with "unable to connect" until the next reset

[2015-05-16 13:22] nomwerp commented on #85
it seems that for me having the (additional) "Reset OBD" enabled in settings results in "UNABLE TO CONNECT" for all following commands

[2015-05-16 14:00] anti43 commented on #85
yes you are absolutely right. possibly issuing a reset every 4 seconds is killing the elm :)

[2015-05-16 14:08] nomwerp commented on #85
ok just tested it and it is indeed the extra reset command that screws things up, I had it disabled in my preferences because one of the commands was causing issues but hadn't narrowed down to the extra reset.  i think the issue is that calling reset without the other init commands leaves it in a non working state.  anyway i removed if from the list of commands to run : commit e1a7a8776dcecafec2e6

[2015-05-16 16:52] anti43 commented on #85
Well, yes and no. Just ignoring it and running a dummy command and ignoring the outcome as very first thing makes any troubles go away.

[2015-05-16 17:32] nomwerp commented on #85
without the extra reset that stopped everything doesn't it just fail on the first command (there is a temperature command hard coding in for this purpose just after all the init stuff) and continue happily after that?

[2015-05-18 20:00] nomwerp opened #86 "Release 2.0-rc1"
@pires how about releasing a 2.0RC and push it to f-droid too?

or are there any show stoppers that we need to address first?

[2015-05-18 21:13] pires commented on #86
@nomwerp would be nice to close some [obj-java api issues](https://github.com/pires/obd-java-api/issues), release 1.0 and update the dependency here as well, but I'm lacking the time to do it.

[2015-05-19 20:50] nomwerp commented on #86
alright, i'll have a look but there don't seem to be (m)any open issues that affect android-obd-reader.

I think it'd also be good to do a bit more work on the UI before calling it 2.0

f-droid doesn't seem to be auto updating anyway , last build there is from 2013, what needs to happen to get that to work again?

[2015-05-19 22:31] pires commented on #86
@nomwerp honestly, I never pushed the app to any app store. Probably, someone else did it. I've been notified about it in the past.

[2015-05-20 11:14] vivek40 opened #87 "Automatically resume collecting the data in case of temporary Bluetooth connection loss"
Hi,

I had gone through your source code, am developing one such application. All i want to know is how efficient is to implement a feature like when the user goes out of the Bluetooth range and comes back again to the range, if the service is running the background it should automatically start collecting the data without intimating the user.

How feasible is the requirement, else if you guide me

[2015-05-20 11:21] pires commented on #87
It is feasible. One would need to handle Bluetooth errors on https://github.com/pires/android-obd-reader/blob/master/src/main/java/pt/lighthouselabs/obd/reader/io/ObdGatewayService.java and play with the service lifecycle to act accordingly.

[2015-05-20 12:17] vivek40 commented on #87
So its basically when even the connectivity is lost, (i.e) in ObdGatewayService.java, inside executeQueue(), catch block will be called. But if i call the method startService() at that time, some times AT Z command fails and comes into the catch block. So i should ignore this condition for AT commands alone?

[2015-05-20 13:31] pires commented on #87
This is most probably due to [the explicit delay in sending commands](https://github.com/pires/obd-java-api/blob/master/src/main/java/pt/lighthouselabs/obd/commands/ObdCommand.java#L111).

[2015-05-20 16:03] nomwerp commented on #86
ok i'll investigate , seems that we'd need to make an update of :
https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/eu.lighthouselabs.obd.reader.txt
I might create a 2.0-expermintal or so to test if f-droid can actually build it from source

[2015-05-20 18:41] nomwerp commented on #86
managed to have a local copy of f-droid build it from source successfully, only thing we need to add to f-droid metadata is another build:

[code]
...where commit is now just the latest commit but can also be a tag when we actually release a 2.0

there is one issue: at f-droid the app is listed as eu.lighthouselabs.obd.reader instead of pt.lighthouselabs.obd.reader so we'd have to add it as a new

[2015-05-20 19:03] pires commented on #86
@nomwerp you are the expert here :D I'll leave that to you. I will be tagging RC1 in the coming days.

[2015-05-20 19:20] nomwerp commented on #86
do you know the history behind the name change?

[2015-05-20 19:23] pires commented on #86
@nomwerp I know I've changed the packaging in the past because I no longer controlled the `lighthouselabs.eu` domain.  But right now, I don't even control the `.pt` as well, so I can probably rename stuff to `com.github.pires.obdreader` or something prettier.

[2015-05-20 20:02] oneal opened #88 "Problem with Troubles Codes"
I want to obtains troubles codes of my ELM327, i'm using your api for OBD, but this library doesnt want to  give me the errors, this said me command OBD failure, I try to charge the application obd reader of your repository and i have the same problem. I think the aplication fail in this part

                    ModifiedTroubleCodesObdCommand tcoc = new ModifiedTroubleCodesObdCommand();

[2015-05-20 21:55] pires commented on #88
Need logs please.

[2015-05-20 22:25] oneal commented on #88
05-21 00:12:34.363    6079-7238/pt.lighthouselabs.obd.obd2 W/System.err﹕ pt.lighthouselabs.obd.exceptions.UnableToConnectException: Error running 03, response: SEARCHING...
UNABLETOCONNECT
05-21 00:12:34.364    6079-7238/pt.lighthouselabs.obd.obd2 W/System.err﹕ at java.lang.Class.newInstanceImpl(Native Method)
05-21 00:12:34.364    6079-7238/pt.lighthouselabs.obd.obd2 W/System.err﹕ at java.lang.Cl

[2015-05-20 23:05] pires commented on #88
You are not connected.

[2015-05-21 12:36] oneal commented on #88
ELM321 is connected, this occure in your application android-obd-rearder too.

[2015-05-21 13:26] pires commented on #88
This response comes from the ELM327 device.

[2015-05-21 16:45] nomwerp commented on #88
i think @pires means that the  *ELM327* is unable to connect to the car? e.g. the car is not responding because it is not running/powered  or the appropriate init and reset commands haven't been issued

[2015-05-21 17:49] pires commented on #88
Exactly! Thank you @nomwerp

[2015-05-21 18:46] oneal commented on #88
ah!!! okay thanks!! should i change ELM 327 by other??

[2015-05-21 18:49] nomwerp commented on #88
did you try it with the engine running?

[2015-05-21 22:57] oneal commented on #88
he said me no data when i try to engine running

[2015-05-22 13:04] oneal commented on #88
sorry, it's send me a lot of informar ion with engine running

[2015-05-22 13:16] #88 closed

[2015-05-22 18:11] pires opened #90 "Add full internationalization support"

[2015-05-22 18:36] amouly opened #91 "Preferences XML file"
Why we have the preferences.xml file under "xml" folder? The standard way is to put it under "layout" folder.

[2015-05-22 18:37] pires commented on #91
Good question. Historical reasons! Feel free to propose any changes.

[2015-05-31 07:01] brianharms opened #93 "Max obd polling rate"
Hi Pires, thanks for your work on such a great app. Forgive me if this is not the right place to post this issue, but I've been having trouble getting data faster than about 5-6 times per second.

I have only engine rpm selected, and I've modified the project slightly to accept milliseconds for the period (instead of just seconds). It seems to be accurate when polling at 1000 ms, 500ms, and even 2

[2015-05-31 07:03] brianharms commented on #93
That. I'm wondering if there is a max polling rate set by the modules themselves (I have a Bluetooth elm27 module) or if there is some overhead in the app I can trim out to get faster polling rates. If the latter is the case, any suggestions are welcome.

Best,
brian

[2015-05-31 07:17] nomwerp commented on #93
in  obd-java-api/src/main/java/pt/lighthouselabs/obd/commands/ObdCommand.java

[code]

[2015-05-31 14:30] nomwerp commented on #91
actually, that seems to be right place: "You must save the XML file in the res/xml/ directory."

https://developer.android.com/guide/topics/ui/settings.html#DefiningPrefs

[2015-05-31 14:30] #91 closed

[2015-05-31 16:04] nomwerp commented on #90
i think that's all strings in the UI, @amouly would you mind to do some more translation to spanish?

[2015-05-31 19:09] brianharms commented on #93
Excellent, thanks for the response, nomwerp.

Should I then download the zipped obd-java-api project, add it as a library to the obd reader app (while removing the existing external dependency, whose files are locked) and edit it there?

Best,
brian

[2015-05-31 21:49] nomwerp commented on #93
you can clone obd-java-api it into your project folder:
`git clone https://github.com/pires/obd-java-api.git`

create `obd-java-api/build.gradle` with something like
`apply plugin: 'java'`

in main build.gradle change
 `compile 'pt.lighthouselabs.obd:obd-java-api:0.8'`
to
 `compile project(':obd-java-api')`

in settings.gradle add `include ':obd-java-api'`

that should do it

[2015-05-31 21:57] brianharms commented on #93
Thanks for the quick response!

[2015-05-31 21:57] #93 closed

[2015-06-01 01:33] amouly commented on #90
@nomwerp yes, I added a lot more Strings, but I have that issue with indentation, because I made some changes and can't merge directly. Maybe I can discard my changes on indentation and just pull the Strings.

[2015-06-01 16:59] nomwerp commented on #90
yeah i'm afraid that the changes i did in  19fa27811ebb0b19147f4a2e077334689d820706 are causing the conflict,  could i ask you to prepare a pull request just for the changes you made in src/main/res/values-es/strings.xml  and  src/main/res/values/strings.xml ?  and I'll work work out what those strings are called now afterwards.  thanks.

[2015-06-07 04:24] Hippoish24 opened #94 "Imperial/Metric Units Option"
###### Summary
The preference to enable imperial units does not currently change anything.

###### Proposed change
Add the following method to `pt.lighthouselabs.obd.reader.io.ObdGatewayService`:

[code]

###### Rationale
When values are retrieved from an ObcCommand, it uses the getFormattedResult() method.  This method contains logic for printing either imperial or metric units, but depends on th

[2015-06-07 10:49] pires commented on #94
Care to fill a PR? Will gladly review.

[2015-06-07 18:03] Hippoish24 commented on #94
Will do!

[2015-06-07 19:22] amouly opened #96 "Gradle Wrapper"
We should include the Gradle Wrapper to the root directory of the project. This is an standard way to import the project on Android Studio, and not recreating this files on each machine.

[2015-06-07 20:45] pires commented on #96
I've never had any issues importing this project into Android Studio. Actually, Gradle Wrapper used to exist for people that didn't have Gradle installed which I don't believe is true when you install said IDE.

[2015-06-07 20:48] amouly commented on #96
No, Android Stusio only have the Gradle Plugin, but not Gradle itself. I
haven't got it installed, I just have AS and it creates the wrapper for
each project. It's a common issue when you import a project, not having
Gradle or the Wrapper and nothing works :P.
On Jun 7, 2015 17:45, "Paulo Pires" <notifications@github.com> wrote:

[2015-06-07 20:49] pires commented on #96
So if Android Studio creates the wrapper, what's the issue then?

[2015-06-07 20:52] amouly commented on #96
No, AS just created it when you start the project from 0, but not when you
import it. When so, AS ask where the wrapper is, or where Gradle is, but if
you haven't got anyone, you can't run the project. The solution is copy the
wrapper from another project and paste it on the current project.
On Jun 7, 2015 17:49, "Paulo Pires" <notifications@github.com> wrote:

[2015-06-07 20:54] pires commented on #96
Hmmm, current Android Studio complains about not having Gradle indeed. I wonder if they removed the bundled version... anyway one of the prerequisites in the doc is `Gradle 2.2.1`. Will mark this as an improvement rather than a bug and will take care of it ASAP. Thank you for reporting.

[2015-06-07 20:56] amouly commented on #96
Yeah sure. Maybe if you commit and push the wrapper it just works. If you
want to add it to another branch, I can test importing the project from 0.
Thanks.
On Jun 7, 2015 17:55, "Paulo Pires" <notifications@github.com> wrote:

[2015-06-07 21:09] pires commented on #96
Actually, I revert what I just said and yes, Gradle is bundled.

[code]

[2015-06-07 21:30] pires commented on #96
PR on its way.

[2015-06-07 23:38] Hippoish24 commented on #94
Fixed as of pull #95.  Thank you! :)

[2015-06-07 23:38] #94 closed

[2015-06-07 23:48] pires commented on #94
Thank you!! You're awesome.

[2015-06-08 10:36] pires opened #98 "Repackage to com.github.pires.obd"

[2015-06-08 10:37] #98 closed

[2015-06-08 10:50] pires commented on #86
Moved to `com.github.pires.obd` in 26cba74.

Tagging `2.0-RC1` now.

[2015-06-08 10:51] #86 closed

[2015-06-08 10:52] pires commented on #78
I can't understand. Can you please improve issue description?

[2015-06-08 10:52] #85 closed

[2015-06-08 10:53] pires commented on #87
@vivek40 is there a PR coming?

[2015-06-08 19:41] nomwerp commented on #86
OK great,   when I'm back home I'll make a pull request for the fdroid people with the name change and to set it to auto update based on the tags.

[2015-06-08 23:55] amouly commented on #96
@pires the wrapper is working just fine. But i'm getting an error when executing the app (compiling and running on real device). The stack is the following:

06-08 20:54:19.948    1633-1633/? E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.github.pires.obd.reader, PID: 1633
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.github.pires.obd.reader/com.github.pires.

[2015-06-09 01:25] amouly commented on #96
@pires I don't think that this issue it's related to the wrapper, if anyone else have the same issue maybe we can open a new one for this.

[2015-06-09 10:50] pires commented on #96
@nomwerp I think it's related to `proguard` blocking `roboguice` stuff. Will look into it, thanks.

[2015-06-09 11:10] pires opened #99 "Proguard breaks Roboguice integration"

[2015-06-09 12:52] #99 closed

[2015-06-09 12:53] amouly commented on #96
@pires this is fixed.

[2015-06-09 12:53] #96 closed

[2015-06-15 11:44] pires commented on #90
@nomwerp @amouly can you update me on this, please?

[2015-06-15 11:56] amouly commented on #90
I think is mostly done. Right @nomwerp?
On Jun 15, 2015 08:44, "Paulo Pires" <notifications@github.com> wrote:

[2015-06-15 11:56] pires commented on #90
Awesome!

[2015-06-15 11:56] #90 closed

[2015-06-19 20:30] nomwerp commented on #98
we're on f-droid again with the new package name:
https://f-droid.org/repository/browse/?fdid=com.github.pires.obd.reader
note that for auto update to work in the future the tag name and android:versionName in the manifest must be absolutely identical (2.0-rc1 vs 2.0-RC1 ).
for reference, any future modifications of the fdroid metadata can be made here: https://gitlab.com/fdroid/fdroiddata/blob/ma

[2015-06-20 09:15] nomwerp opened #102 "2.0-RC1 f-droid build crashed on start"

[2015-06-20 09:16] nomwerp commented on #102
D/VoldCmdListener( 210): cryptfs getpwtype D/roboguice.RoboGuice(11500): Using annotation database(s). D/roboguice.RoboGuice(11500): Using annotation database(s) : [, roboguice] W/System.err(11500): java.lang.ClassNotFoundException: AnnotationDatabaseImpl W/System.err(11500): at java.lang.Class.classForName(Native Method) W/System.err(11500): at java.lang.Class.forName(Class.java:308) W/System.err

[2015-06-20 09:17] amouly commented on #102
@nomwerp ProGuard problem again maybe?

[2015-06-20 09:25] nomwerp commented on #102
yes maybe... this is the 2.0-RC1 tag from 12 days ago so wouldn't have included #100

[2015-06-20 09:30] nomwerp commented on #102
here is the log with line ends ;)
[code]

[2015-06-20 09:31] nomwerp commented on #102
but it sounds like we need to tag 2.0-rc2 to get that proguard fix included

[2015-06-21 19:42] nomwerp commented on #102
Version 2.0-RC2 has now been build by f-droid and is available https://f-droid.org/repository/browse/?fdid=com.github.pires.obd.reader

[2015-06-21 19:42] #102 closed

[2015-06-22 13:30] pires commented on #98
Nice! Thanks

[2015-06-23 05:14] joshimohit opened #103 "Support over USB ?"
1. We want to receive data via USB ? is it supported ?
2. Is Wifi supported too ?

[2015-06-23 10:19] Pho3niX90 opened #104 "Polling and receiving data is indredibly slow"
I have tested the app as is but have removed the delau of 200ms in script and also changed the polling frequency to .3 seconds. It still takes about 3secs to poll, and in those 3 secs a lot of information is lost.

[2015-06-23 10:52] Pho3niX90 commented on #104
Just as a note.

Compared to Torque, torque polls double the sensors in half the time

[2015-06-23 10:59] pires commented on #103
No and no. You have to do that code by yourself, but the most complicated part is already delivered by `obd-java-api`, which is to write/read from any channel (`OutputStream` and `InputStream`).

[2015-06-23 10:59] #103 closed

[2015-06-23 10:59] pires commented on #104
Where did you remove the 200ms? I'm not sure I follow what `in script` means. And polling time.

[2015-06-23 11:00] pires commented on #104
And please, stop comparing this to Torque. Torque is a closed app, paid by many users. This **is not**!

[2015-06-23 11:00] #104 closed

[2015-06-23 12:18] Pho3niX90 commented on #104
Excuse me but your troubleshooting method in the readme states to compare and test in torque as well.

Code removed was

    /*
     * HACK GOLDEN HAMMER ahead!!
     *
     * Due to the time that some systems may take to respond, let's give it
     * 200ms.
     */
    Thread.sleep(200);

[2015-06-23 13:40] pires commented on #104
`Thread.sleep(...)` happens in `obd-java-api` as well, as a safe-measure. Change it, compile it and adapt your app at your own risk. It's the only way to bypass said safe-measure.

Regarding Torque, it's a troubleshooting thing for misbehaving ELM 327 devices, not for comparing it to this open-source application.

[2015-07-09 08:27] pires commented on #2
This has been implemented in `obd-java-api` v0.10, https://github.com/pires/obd-java-api/commit/f5c4361500558d9f80516a3b35263d4694fc8721. Anyone care to try it?

[2015-07-09 08:28] pires commented on #78
Implemented `obd-java-api` support in 0.10, https://github.com/pires/obd-java-api/blob/e2a98f051407414edff5001097887446cfad8106/src/main/java/pt/lighthouselabs/obd/commands/protocol/AvailablePidsObdCommand.java.

Not having more details on how to implement this in this project, I'm closing this.

[2015-07-09 08:28] #78 closed

[2015-07-10 08:36] MaxBenChrist opened #105 "Support of the german language"
Hello,

first let me say: Great project! I already had a lot of fun working with the app.

I am planning to implement some features that I need. I do not have much experience with android development but I am eager to learn. I will open several issues to divide my features semantically. You have to decide if they are of interest for you as well.

I am looking forward to work with you. :)

The firs

[2015-07-10 08:48] MaxBenChrist opened #106 "Batch wise upload of the trip data when the device is connected to WIFI."
To save data in a mobile data plan, the trips should only uploaded when the device is connected to a WIFI. This should work even when the application is not used.

I would use an AlarmManager to launch the service periodically and then check for wifi connection.

[2015-07-10 09:00] MaxBenChrist opened #107 "Settings for the polling rate or enable "adaptive" polling"
It would be nice to be able to either set the update period in

[code]

a) to a user selected value in the configure menu (maybe in the range of 1-6 seconds)
or
b) make the polling adaptive by a caller/listener combination to achieve the fastest possible rate.

For example my obd and car combination is able to send data every 1.5-2 seconds.

[2015-07-10 10:29] pires commented on #105
Hi @MaxBenChrist! Thanks for contributing back. I am open to review your PRs and so far your issues are on pair with my personal guidelines.

[2015-07-10 10:30] pires commented on #106
People should be able to set whether they want to upload `on WiFi connection only` or not.

[2015-07-11 08:54] pires opened #108 "Test obd-java-api 1.0-RC2"
@nomwerp @amouly care to help? PR submitted.

[2015-07-12 14:08] #105 closed

[2015-07-13 18:01] nomwerp commented on #108
builds and runs but getting  "7F 01 12" as response from several commands which i guess is the new UnsupportedCommandException?

[2015-07-13 18:11] nomwerp commented on #108
we should also add the new commands to https://github.com/pires/android-obd-reader/blob/master/src/main/java/com/github/pires/obd/reader/config/ObdConfig.java so that they become available

[2015-07-13 18:25] nomwerp commented on #108
to answer my own question:

yes it is , since it is now actually throwing an exception the raw response is shown. we should probably make it more pretty by replacing  "7F 01 12" with "NA" or "-"  or something like that (and possibly maybe disabling unsupported command for remaining of the live data collection cycle?)

[2015-07-13 23:28] pires commented on #108
@nomwerp want to take care of that? Would be happy to merge. I'm traveling for a couple weeks and my availability for this is close to none.

[2015-07-14 13:51] mvglasow opened #111 "Unable to get DTC"
I have recently tried the latest version available on F-Droid. Unlike in the earlier version I tried before, I can now obtain live data on Android 4.4. However, when I try to get DTCs, I still get an error about the adapter not being reachable and am unable to get any information from the dongle. Could this be a leftover from #7? That is, live data addresses the OBD dongle in a way that is compati

[2015-07-14 16:27] nomwerp commented on #108
yes will have a look , in any case I'll merge the pull request and raise issue for adding new commands and prettifying unsupported command results

[2015-07-14 16:31] nomwerp opened #112 "show more friendly response for unsupported commands"
from  #108 :

since move to obd-java-api 1.0-RC2 i'm getting "7F 01 12" as response from several commands which is due to the new UnsupportedCommandException  , since it is now actually throwing an exception the raw response is shown. we should make it more pretty by replacing "7F 01 12" with "NA" or "-" or something like that (and possibly maybe disabling unsupported command for remaining of the

[2015-07-14 16:33] nomwerp opened #113 "add new obd commands"
from #108:

add new obd commands from obd-java-api 1.0-RC2 to https://github.com/pires/android-obd-reader/blob/master/src/main/java/com/github/pires/obd/reader/config/ObdConfig.java so that they become available

[2015-07-14 17:50] #113 closed

[2015-07-14 17:51] nomwerp commented on #113
tested but none of the new commands seems to be supported by my car

[2015-07-15 14:13] pires commented on #111
@nomwerp any insight?

[2015-07-15 16:41] pires commented on #108
Can you test RC3. Just released it but may take a while to sync to Maven Central.

[2015-07-15 17:40] nomwerp commented on #111
no not really without diving into it, works for me on Android 5-something...   any suggestions welcome

[2015-07-15 18:07] nomwerp commented on #112
with obd-java-api 1.0-RC3 it now returns "7F0112" instead of "7F 01 12" ...

[2015-07-15 18:09] nomwerp commented on #108
commented on pires/obd-java-api#34

[2015-07-15 21:40] pires commented on #108
Thank you. Will close this and wait for @anti43 feedback on #34.

[2015-07-15 21:40] #108 closed

[2015-07-15 21:44] pires commented on #112
Good point here. The buffer processing stuff on the API changed a bit and it's a bit confusing, so I'd say that for now we should change how this app handles strings. I'm sorry for breaking this, but I can't pay as much attention as I want for the next two weeks :(

[2015-07-17 17:48] #112 closed

[2015-07-17 18:29] nomwerp commented on #107
sorry if i'm missing something but shouldn't it already be taken from the settings, or it is broken?

[code]

[2015-07-18 18:23] MaxBenChrist commented on #107
Yes, the settings are working! So a) is solved. My mistake.
I am not sure how to implement

Maybe we should close this issue?

[2015-07-18 19:28] #107 closed

[2015-07-20 10:24] Pho3niX90 opened #119 "VinObdCommand issue"
Hi.

I tried out the vin and seems that it returns a 70 digit number instead of a vin number. Ex "4902010000005749020242534548490203393230334902043043473949020539383331"

[2015-07-20 11:54] nomwerp commented on #119
thangs for testing, i believe this had just been fixed in pires/obd-java-api#50

[2015-07-20 11:58] Pho3niX90 commented on #119
Awesome. I will test that and revert back

[2015-07-20 14:48] Pho3niX90 commented on #119
This is working like a charm now.

[2015-07-20 15:30] Pho3niX90 opened #120 "Better fuel consumption"
Hi.

In my car (bmw m6) the app can't get the fuel consumption via obd. I have found a website that gives a proper calculation for this use.

This is the same method most of the OBD2 apps use on the playstore.

Source: http://www.lightner.net/obd2guru/IMAP_AFcalc.html
Making use of the Ideal Gas Law, a synthetic variable called IMAP can be used to estimate the mass air-flow (MAF) of an internal co

[2015-07-20 15:59] pires commented on #120
I've tried a lot of equations before and never worked out because engines are so different. I'm open to try out an implementation, though.

[2015-07-20 16:01] pires commented on #119
I'll release `obd-java-api` RC5 later today and upgrade the dependency version here.

[2015-07-20 20:11] Pho3niX90 opened #123 "VinObdCommand get vin only once per session"
Since the vin will never change on a vehicle, I think a improvement will be to only get the vin once at the start of a logging session. If this is currently the case I apologize for creating this.

This will bring down the overhead on polling.

[2015-07-20 20:13] Pho3niX90 opened #124 "PHP Server version"
I have created a php version of the upload server. Not sure how I can contribute it to the project?

[2015-07-20 20:20] nomwerp commented on #124
yep did the same thing ;) not sure where to put it either

[2015-07-20 20:23] nomwerp commented on #123
i think this applies in general , for example a unsupported command in unlikely to suddenly become supported. so maybe if a command return same value x number of times don't request it again in that session ?  but that might not be a good idea for all commands

[2015-07-20 20:36] Pho3niX90 commented on #123
Yes that would be the ideal solution. There is a class that checks the supported PIDs, when a session is started it would be good to run this first and store the PID's with the vin, so next time it knows what can be polled and what can't.

[2015-07-20 20:40] nomwerp commented on #123
or maybe move both the preference dialogue, i.e. before (only show available) or after(check selected) selecting the commands.  and for vin, since we already have a setting for vin there we could add option to get it from the car.

[2015-07-21 07:46] Pho3niX90 commented on #123
I will try to add the feature, I am craving for faster data

[2015-07-21 11:58] Pho3niX90 commented on #120
I have started implementing this into my version. Sadly I can only test with the car since obdsim only allows limited readings. If all goes according to plan I should have this working this week.

[2015-07-21 13:09] pires commented on #120
@Pho3niX90 awesome!

[2015-07-21 13:09] pires commented on #123
@Pho3niX90 you're rocking the place! Keep it up.

[2015-07-21 19:14] Pho3niX90 commented on #119
Could we please reopen this? I tried it on my 750 today and it couldn't properly pick up the vin, instead it returned "IWIBLI82I61I1".

[2015-07-21 19:34] nomwerp commented on #119
is there a difference between the version you tested an RC5?

[2015-07-21 22:41] pires commented on #119
See https://github.com/pires/obd-java-api/commit/d5474dce0556d3eca1707a5b41033edbc0600c94. That should be the properly formatted VIN.

[2015-07-21 22:42] pires commented on #119
Calling @anti43 on this one.

[2015-07-22 05:42] anti43 commented on #119
@nomwerp yes with this fix it works properly for me. one way to screw it is if the obd device is sending headers, which you can turn off issuing a command AT H0 which is not yet implemented in RC5. Had this issue yesterday.

[2015-07-22 06:04] Pho3niX90 commented on #119
Yes I am using the correct version. This is working on the one car but not the other.

[2015-07-22 06:30] anti43 commented on #119
when you connect via obd terminal, what is the raw response?

2015-07-22 8:04 GMT+02:00 Pho3niX90 <notifications@github.com>:

[2015-07-22 06:32] Pho3niX90 commented on #119
I haven't tested. Which obd terminal do you suggest

[2015-07-22 06:33] anti43 commented on #119
obd terminal from play store

2015-07-22 8:32 GMT+02:00 Pho3niX90 <notifications@github.com>:

[2015-07-22 10:00] Pho3niX90 commented on #124
Here you go. https://github.com/Pho3niX90/OBD2-SERVER

Its extremely simple, just add credentials and it will automatically create the database and add the new columns, if new readings gets added it will automatically create the new columns as well.

[2015-07-22 13:40] pires opened #126 "Reformat code according to Android IDE defaults."
Please, **do not** do this yourself. I will take care of that.

[2015-07-22 13:42] amouly commented on #126
Awesome, waiting the PR...

[2015-07-23 01:26] Hippoish24 opened #127 "Missing @string/action_clear_codes?"
What does ```@string/action_clear_codes``` in [menu\trouble_codes.xml](https://github.com/pires/android-obd-reader/blob/master/src/main/res/menu/trouble_codes.xml) reference?  It's not in [strings.xml](https://github.com/pires/android-obd-reader/blob/master/src/main/res/values/strings.xml), and neither myself nor Android Studio can find it elsewhere.  As a result, Gradle is unable to build the pro

[2015-07-23 05:56] Pho3niX90 commented on #127
It's this:

    <string name="action_clear_codes">Clear Codes</string>

And obdreadings fix is

https://github.com/pires/android-obd-reader/pull/125/files

[2015-07-23 06:13] nomwerp commented on #127
@Pho3niX90 I merged #128 for a quick fix while we sort out the code formatting

[2015-07-23 06:14] Pho3niX90 commented on #127
@nomwerp okay thats perfect

[2015-07-23 13:20] Pho3niX90 commented on #119
I added the headers command and that solved it. Thank you.

[2015-07-23 23:32] Hippoish24 commented on #127
Looks good; thank you!

[2015-07-23 23:32] #127 closed

[2015-07-24 08:33] Pho3niX90 commented on #120
So I have started this. Need to test on multiple vehicles though first.
For the time being I have made the pull request for everyone to test the 2 different AFRs as it is crucial to the consumption
https://github.com/pires/obd-java-api/pull/55

[2015-07-24 08:57] Pho3niX90 opened #130 "Thoughts on moving away from Roboguice"
What are your thoughts?

I just personally think the less unnecessary library's that are used, the better the app will respond. Native android code has better performance

[2015-07-24 08:59] Pho3niX90 commented on #2
Works on one of my vehicles.

[2015-07-24 09:02] Pho3niX90 commented on #69
Accelerometer wont be needed for proper fuel consumption. I have already made pull requests. The method will be to see how much fuel is actually injected and then calculate the fuel being burned. Most vehicles do have trims to actually show how the afr is being changed (example. Going uphil, going WOT ect)

[2015-07-24 09:04] Pho3niX90 commented on #106
Has anyone started on this? This should be relatively easy to do.

[2015-07-24 09:29] MaxBenChrist commented on #106
yes, i already implemented it.

[2015-07-24 10:31] pires commented on #130
I will not remove roboguice in favor of more boilerplate code.

[2015-07-24 12:40] pires commented on #120
@Pho3niX90 when adding new commands to `obd-java-api`, please add more tests as well, please. I will be releasing 1.0-RC6 in a bit.

[2015-07-24 12:50] pires commented on #2
Awesome!

[2015-07-24 12:50] #2 closed

[2015-07-24 12:59] pires commented on #69
We'll see how that works out :)

[2015-07-24 13:00] pires commented on #106
Awesome @MaxBenChrist! Bring it on :)

[2015-07-24 14:00] Hippoish24 commented on #130
What responsiveness would removing Roboguice add?  As I understand it, it's only used when initializing the app for creating the UI elements.

[2015-07-24 14:03] pires commented on #130
@Hippoish24 it's also helping a lot with service and `AsyncTask` lifecycle management. Again, this is a no-go for me unless something happens to how much Android code we need to handle this burden.

[2015-07-24 14:03] #130 closed

[2015-07-24 14:07] Pho3niX90 commented on #120
@pires Which tests are you referring to?

[2015-07-24 14:27] pires commented on #120
@Pho3niX90 unit-tests. Check `obd-java-api/src/test/java`.

[2015-07-24 17:01] Pho3niX90 commented on #130
@Hippoish24 http://developer.android.com/training/articles/memory.html#DependencyInjection

If you really need to use a framework I would say use http://google.github.io/dagger/

[2015-07-24 17:06] amouly commented on #130
+1 for Dagger.

[2015-07-24 17:09] pires commented on #130
Dagger is much more complicated to use and I want to maintain the app simple. I don't see any added value for the user in this, since the application delivers what it's supposed to do.

Still, I'm open to analyze a PR that replaces Roboguice with something that means more performance **AND** less code.

[2015-07-25 20:37] nomwerp commented on #126
hey, some files seem still indented with 2 spaces    e.g.  src/main/java/com/github/pires/obd/reader/activity/MainActivity.java (but it is re-arranged), was that the intention?

[2015-07-25 21:55] pires commented on #126
Nop. Idea may have screwed it. Will improve manually later.

[2015-07-27 08:43] #126 closed

[2015-07-27 08:43] pires commented on #126
For some stupid reason, Android Studio had loaded the now removed Eclipse formatting settings file. Fixed and closed.

[2015-07-28 11:45] Pho3niX90 opened #131 "Need guideline/help"
I am using a different obd2 reader to test commands on more cars, but I am having an issue where all info returned is incorrect.

For example please see attached image
What could the cause be?

![unnamed](https://cloud.githubusercontent.com/assets/7858187/8930506/ef1cdfc4-352e-11e5-86f9-21db1ae82562.png)

[2015-07-28 11:46] Pho3niX90 commented on #131
The car was stationary. So non of those readings are correct.

[2015-07-28 16:32] Pho3niX90 commented on #131
Here is a screenshot from terminal

![screenshot_2015-07-28-18-14-11](https://cloud.githubusercontent.com/assets/7858187/8937148/ff6ceacc-3556-11e5-9d13-9c139701c2b6.png)

[2015-07-28 19:06] matthiasblaesing opened #132 "http method for upload should be POST"
When I first used android-obd-reader I wrote a simple rest backend, wait for POSTs. From the settings and from my understanding of http methods this would have been ok. It turns out PUT requests are issued instead.

While it would be more backwards compatible to just change the settings description I think it would be wrong. From RFC 2616 [http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html]:

F

[2015-07-28 19:24] pires commented on #132
@matthiasblaesing very good insight actually. It's been a long time since I last worked on that code and at the time I didn't gave it much thought. I should have :+1:

I'll be working on this.

[2015-07-28 22:09] MaxBenChrist commented on #131
You tried to restart the app? I mean by closing it the app settings in the general android menu?

I observed a similar behavior when I stopped the engine during a trip and the bt connection to the doongle was lost. The application was not able to connect again and when I started a new trip (even with a stationary car) it read 80 km/h and 167 rpm all the time.

For me killing the application in the

[2015-07-28 22:14] pires commented on #131
This is probably caused by the service not being able to reset/restart.

[2015-07-28 22:17] MaxBenChrist commented on #131
Yeah, I was thinking the same. You got any idea how to fix that properly? Maybe the trip should be finished if for a certain number of readings no values were observed?

[2015-07-29 09:58] Pho3niX90 commented on #131
Fixed it.

[2015-07-29 10:05] pires commented on #131
How was it fixed?

[2015-07-29 18:58] Pho3niX90 commented on #131
Seems that it isn't fixed. What I can gather is that for some dongles echo doesn't always turn off.

[2015-07-30 11:11] Pho3niX90 commented on #119
Receiving this on an M3 = 0140:4902015742531:574439323031302:50593335393632

[2015-07-30 11:13] anti43 commented on #119
see https://github.com/pires/obd-java-api/issues/54

[2015-07-30 13:49] Pho3niX90 commented on #119
Is there a possible solution to this? This -> 4902015742531:574439323031302:50593335393632
is the vin

[2015-07-30 15:55] anti43 commented on #119
yes there is a solution, see the referenced issue. the presented solution is not ideal as discussed, but if it works for you it might be ok

[2015-07-30 16:00] Pho3niX90 commented on #119
That solution just yields hex code returned

[2015-07-30 16:49] anti43 commented on #119
then go ahead and use it

[code]

See a complete solution here (parses those ":" separated vins and teh other multiline one):

https://github.com/anti43/obd-java-api/blob/master/src/main/java/com/github/pires/obd/commands/control/VinObdCommand.java

[2015-07-31 10:20] Pho3niX90 commented on #119
I have implemented your solution, vin now comes back IIBSI92I0JI68

[2015-07-31 10:23] Pho3niX90 commented on #119
Please ignore the above. Just noticed this is on an E46 m3. I am testing the app on a fleet of BMWs

[2015-07-31 10:24] anti43 commented on #119
can you post the complete raw response

[2015-08-02 21:37] #132 closed

[2015-08-02 21:38] pires commented on #132
@nomwerp @anti43 @MaxBenChrist @Pho3niX90 just letting you know (since you are the most active users around) that `PUT` has been replaced with `POST`.

[2015-08-02 21:42] pires commented on #124
@Pho3niX90 is that a _server_? Been a while since I coded PHP but I do not see any REST related code but rather a PHP script that one can run in his terminal.

[2015-08-02 21:42] #124 closed

[2015-08-02 21:43] pires commented on #120
@Pho3niX90 can we close this?

[2015-08-02 21:43] pires commented on #111
@mvglasow can you try latest code, please?

[2015-08-03 19:28] matthiasblaesing commented on #132
Thank you!

[2015-08-04 12:41] MaxBenChrist commented on #132
Thanks for the notification!

I implemented a multi entity post in my branch. If somebody is interested, here is the snippet:

[code]

[2015-08-13 14:51] sytolk opened #135 "Add Acra platform support for crash logging"
I have so many app crashes. After select DTC after start live data with enabled GPS..
Can we include https://github.com/ACRA/acra to have device log?
and this: https://github.com/d-a-n/acra-mailer

[2015-08-14 12:58] sytolk commented on #131
I have the same issue with my toyota corolla verso
![screenshot_2015-08-14-11-36-06](https://cloud.githubusercontent.com/assets/1415463/9274260/d81914b6-429c-11e5-9f24-f3efb3d07b70.png)

results is the same if car is moving or not. I have try to restart application restart Android phone but without success. @Pho3niX90 what is this terminal ?

[2015-08-31 08:08] sytolk opened #136 "obd-java-api version 1.0-RC8 is broken"
I have updated maven build to version 1.0-RC8 accordingly to https://github.com/pires/android-obd-reader/pull/133
But I think that obd-java-api lib in this build (v. 1.0-RC8) have some mixed java 1.7 and 1.8 issues.. maybe it depend of this issue:
https://github.com/pires/obd-java-api/issues/61
The error that I have is:
[code]

If I use maven build of obd-java-api version 1.0-RC9-SNAPSHOT this pro

[2015-08-31 09:51] pires commented on #136
Yes. I'm taking care of this, thank you.

[2015-08-31 21:29] pires commented on #136
1.0-RC9 has been released with revert from Java 8 to 7 and a fix for the Windows platform.

[2015-09-01 12:01] sytolk commented on #136
Fix is for Linux platform too :+1: Thanks!

[2015-09-01 12:46] #136 closed

[2015-09-08 10:30] Pho3niX90 commented on #132
Awesome thanks. Haven't been active in a while.

[2015-09-08 10:32] Pho3niX90 commented on #124
@pires yes it is a server. That's the end url, have been running it.

The brilliant part about it is that it automatically creates the tables and fields as required, so maintenance on it is null

[2015-09-08 15:48] Pho3niX90 commented on #119
So it has creeped up again with another car. IWIBCI38I05I5

[2015-09-09 13:56] sytolk commented on #131
09-09 16:43:20.520 E/com.github.pires.obd.reader.io.ObdGatewayService( 3354): Failed to run command. -> Error running 09 02, response: 0902NODATA

[2015-09-09 14:05] sytolk opened #139 "Crash"
[code]

[2015-09-09 14:11] sytolk commented on #139
MainActivity.java
Line:159  sb.append(String.valueOf(mLastLocation.getAltitude()).substring(0, posLen));

posLen=7
remove this substing() for the Altitude

[2015-09-09 14:35] pires commented on #139
Please, provide PR :)

[2015-09-09 14:50] sytolk commented on #139
Ok but my previous PR  is not merged yet https://github.com/pires/android-obd-reader/pull/138 and these changes will be added to it ;)

[2015-09-09 15:07] sytolk opened #140 "min API level is missing"
Its have String isEmpty function used:
https://github.com/pires/android-obd-reader/blob/master/src/main/java/com/github/pires/obd/reader/activity/TroubleCodesActivity.java#L192

I suppose that min API level will be 9 ?

AndroidManifest.xml
[code]

[2015-09-09 17:40] pires commented on #139
@sytolk please don't do it that way or I won't be able to validate the PR and merge.

[2015-09-14 12:48] Pho3niX90 opened #141 "Broadcast received BT messages"
Hi.

So I have been thinking of creating more activities that actually have some nice graphs and gauges. However, the current activity is using a handler, could we move this to a BroadccastReceiver so that all activities receive the same data.

Or perhaps you know of a better way?

[2015-09-14 13:43] pires commented on #141
@Pho3niX90 the idea of broadcasting command results is interesting and my only recommendation is to use [LocalBroadcastManager](http://developer.android.com/reference/android/support/v4/content/LocalBroadcastManager.html).

[2015-09-14 13:49] pires commented on #140
We can aim higher, say API Level 14.

[2015-09-14 17:14] #140 closed

[2015-09-14 17:17] #139 closed

[2015-09-15 08:28] Pho3niX90 commented on #141
I agree. Although, not having a local broadcoast could allow for future plugin development? To keep the core app small and individuals install plugins?

[2015-09-15 08:56] Pho3niX90 opened #142 "Issue ATS0 to remove spaces instead of programmatically removing them"
The Subject says it all. I think this will speed up processing commands, and remove unnecessary code.

[2015-09-15 08:59] Pho3niX90 commented on #135
I have implemented something similar but in native android development. It creates a log file and asks the user if the log should be mailed.

[2015-09-15 09:54] pires commented on #141
The app is small enough for us to think about plug-ins.

[2015-09-15 09:55] pires commented on #142
@Pho3niX90 care to open a PR addressing this issue? Glad to review it.

[2015-09-15 09:56] pires commented on #135
@Pho3niX90 I am in favor of that solution instead of #138. Anyway, #138 is not ready for testing/merge.

[2015-09-15 12:14] Pho3niX90 commented on #141
Okay I have implemented this in my app. One issue though.

ObdCommand.java needs to implement Parcelable.

This is so that all activities receive the full package to call the methods as required. A workaround that I can think of now is to only send the formatted result which isn't ideal.

[2015-09-15 12:15] Pho3niX90 commented on #142
Sure stuff. Just need to review and test first, I have already added the spaces command to my project, still need to remove the redundant code.

[2015-09-15 12:23] Pho3niX90 commented on #142
Need this first: https://github.com/pires/obd-java-api/pull/68

[2015-09-15 12:43] sytolk commented on #135
ACRA support sending report by email too
https://github.com/ACRA/acra/wiki/AdvancedUsage#sending-reports-by-email
You can put this preference in settings. But the main advantage that https://github.com/pires/android-obd-reader/pull/138 have its that its not need to have Email account (or SMTP) on Android device or Emulator. This is debugging feature (its only for the programmers and @pires can I k

[2015-09-15 12:47] Pho3niX90 commented on #135
True. But acra is another library that needs to be taken into consideration when compiling. I agree that only developers needs logs, that's why you might as well use android native code and send a complete logcat to the developer.

See here -> https://github.com/pires/android-obd-reader/pull/144

[2015-09-15 13:00] sytolk commented on #135
@pires you can think about debugging plugins for every kind of developer ;)

[2015-09-15 13:19] pires commented on #141
OBD Java API is pure Java so there's no way it will accept Android code.

Can't we wrap `ObdCommand`result in another object specific to this project that implements `Parcelable`?

[2015-09-15 13:20] pires commented on #135
@sytolk my comments on why PR #138 is not ready for merge are detailed there.

[2015-09-15 13:20] Pho3niX90 commented on #141
@pires that will be a better solution. I will have a look into it.

[2015-09-16 13:01] sytolk commented on #131
I have update obd-api lib to version 10. And test this issue with cheap but working with other obd app bluetooth hardware. The only changes are speed from 20km/h to 65 km/h but the real speed =0km/h
Its have trouble code true but the code is different..
![screenshot_2015-09-16-13-17-21](https://cloud.githubusercontent.com/assets/1415463/9905128/b3735334-5c8b-11e5-9791-b3b963fa35b3.png)

[2015-09-16 13:59] Pho3niX90 commented on #131
@sytolk You are receiving echos. Some adapters require you to turn on echo and then off twice. Give that a try.

[2015-09-16 14:00] Pho3niX90 commented on #131
@sytolk also make sure headers are off

[2015-09-16 15:20] sytolk commented on #131
I will try this. Thanks @Pho3niX90 But why these commands are not executed from obd-reader app?
https://www.scantool.net/support/index.php?_m=knowledgebase&_a=viewarticle&kbarticleid=32
ATE0 - Turn echo off. Characters sent to ElmScan are not retransmitted back to the host computer.
ATE1 - Turn echo on. This is the default state, characters are echoed back to the host computer.
ATH0 - Turn headers

[2015-09-16 15:26] sytolk opened #145 "TODO write some info for the AT commands in Readme"
https://github.com/pires/android-obd-reader#troubleshooting

Popular OBD diagnostic tools reset state and disable echo, spaces etc before protocol selection. Download some elm327 terminal for android and try following commands in order:

ATD - set all to Defaults
ATZ  - Causes the chip to reset itself, as if the power was cycled off and then on again.
AT E0 - Echo Off
AT L0 - Linefeeds off
AT S0 -

[2015-09-16 15:27] Pho3niX90 commented on #131
@sytolk they are sent to turn of by default. But I have noticed on some dongles they need to be turned on and then off to correctly work.

[2015-09-17 15:11] sytolk opened #146 "I can start many instances form MainActivity"
Consider using
android:launchMode="singleTask" or singleInstance

[2015-09-29 02:40] filipeportes opened #147 "Exmaplo of server in pure javascript"
in case someone have interest, that's a simple example of a server implementation to receive an display the data from the reader, write in meteor.

https://github.com/filipeportes/obdserver

[2015-09-29 08:37] pires commented on #147
I need to add this to documentation. Thanks @filipeportes

[2015-10-02 11:34] Pho3niX90 opened #148 "Fuel trim issue"
https://github.com/pires/obd-java-api/blob/5dbcf8493720bc6bc831d05ba056e4d72539446f/src/main/java/com/github/pires/obd/enums/FuelTrim.java

These:

    SHORT_TERM_BANK_1(0x06, "Short Term Fuel Trim Bank 1"),
    LONG_TERM_BANK_1(0x07, "Long Term Fuel Trim Bank 1"),
    SHORT_TERM_BANK_2(0x08, "Short Term Fuel Trim Bank 2"),
    LONG_TERM_BANK_2(0x09, "Long Term Fuel Trim Bank 2");

Will yield code

[2015-10-02 11:36] Pho3niX90 commented on #148
wrong git

[2015-10-02 11:36] #148 closed

[2015-10-06 07:11] Pho3niX90 commented on #142
Hi.

I can't continue with this one. My project has dramatically changed and submitting PR's from it will just be catastrophic. However this change is very simple and will see if I can get some time to do it. For now I am closing.

[2015-10-06 07:11] #142 closed

[2015-10-06 07:14] Pho3niX90 commented on #141
Hi.

I can't continue with this one. My project has dramatically changed and submitting PR's from it will just be catastrophic.

This is also a fairly simple change that I have already implemented in my project. However, I am not sure how you will get around not editing the java, maybe you should write a separate version of ObdCommand.java for this project?

I have to say this is the best change t

[2015-10-06 11:40] pires commented on #142
The thing with `AT S0` is that I can guarantee it to work with all ELM devices or that all programmers will send said command. But I can guarantee I remove all spaces, if any.

[2015-10-06 11:43] pires commented on #141
I'll close this since you were the one suggesting it but no one has provided feedback or the will to pick it up.

Good luck with your project. Thank you for all your contributions.

[2015-10-06 11:43] #141 closed

[2015-10-06 11:45] Pho3niX90 commented on #142
That makes complete sense.

[2015-10-12 08:02] NorbertSzydlowski opened #150 "OBD II simulator"
Hi,

I am read about your OBD readear and API.

I need make the same in my Engineering work, so I need create fresh Library and App on Android device.
I looking for any OBD simulator.
Is any exist?

How did you test your api and reader, I can't use real vehicle.

[2015-10-12 10:05] pires commented on #150
https://icculus.org/obdgpslogger/obdsim.html

[2015-10-12 10:05] #150 closed

[2015-10-27 04:22] gaikwadChetan93 opened #151 "Increase the response rate."
How can i increase the response rate.
I am firing only RPM, SPEED and DISTANCE COVERED PID's and its taking almost 2 to 3 sec to update the RPM and Speed.
I want to make it more faster communication.
Will changing response time to 0 work ?

[2015-10-27 11:17] pires commented on #151
Why don't you try it yourself?

[2015-11-25 11:21] isgarsi opened #152 "Can't connect from HTC One"
Hi Pires,

I can connect with a mini ELM327 from several smartphones but I can't from a HTC One. It seems that there isn't any problem while It is connecting but when I try to get data from bluetooth socket, it returns a bluetooth exception (break pipe)

Could you help me with that?

Thanks in advance.

[2015-11-25 11:24] pires commented on #152
Probably the phone is broken. There's little to nothing I can do to help here, I'm sorry.

[2015-11-25 11:31] isgarsi commented on #152
I don't think so, because It can connect with other apps like torque. I'm going to try with your app android-obd-reader and will tell you the result.

Thanks

[2015-11-26 15:47] isgarsi commented on #152
It didn't run with android-obd-reader app, but it runs in all other smartphones so I won't waste more time with that.

Thanks.

[2015-11-26 15:47] #152 closed

[2015-12-08 15:28] pires commented on #119
Please, try the latest code. Closing this but will reopen if there's feedback about it not being fixed.

[2015-12-08 15:28] #119 closed

[2015-12-08 15:29] #151 closed

[2015-12-08 15:30] pires commented on #131
@Pho3niX90 care to add latest comment to documentation?

[2015-12-08 15:31] #87 closed

[2015-12-08 15:31] #120 closed

[2015-12-08 15:31] #123 closed

[2015-12-08 15:32] #106 closed

[2015-12-08 15:32] #69 closed

[2015-12-13 21:24] mvglasow commented on #111
Tried today with 2.0-RC2, still no luck. OS is now Android 5.1.1.

[2015-12-13 21:55] pires commented on #111
What's your car protocol?

[2015-12-13 21:56] mvglasow commented on #111
Where can I find that out? The car is a 2005 Audi A4 (B7 model).

[2015-12-13 23:23] pires commented on #111
Have you tried building the code?

[2015-12-13 23:24] mvglasow commented on #111
No, so far I've only used the APKs on F-Droid.

[2015-12-13 23:27] mvglasow commented on #111
A question, though: how come live data works while DTC doesn't? I thought the underlying protocol is the same for both – or am I wrong?

[2015-12-13 23:52] pires commented on #111
You should try build and install the code. There's protocol nuances for some commands.

[2015-12-14 08:30] pires commented on #111
@valens254 anything to add?

[2015-12-14 09:40] valens254 commented on #111
@mvglasow I can't understand, what you get when trying read DTC

[2015-12-14 09:42] pires commented on #111
@valens254 just to be sure it's clear, @mvglasow is running an old release of this software. I will try and make a new release, but I suggested him to compile the code.

Also @mvglasow, I'm not responsible for F-Droid releases or any other APK releases.

[2015-12-14 09:47] valens254 commented on #111
Yes, the old release can read all except DTC and VIN code, because not all protocols was implemented yet.

[2015-12-14 10:28] pires commented on #111
@mvglasow please test https://github.com/pires/android-obd-reader/releases/tag/2.0-RC3 and let us know. I'm closing this for now.

[2015-12-20 16:52] mvglasow commented on #111
Same symptoms here, too: I can collect live data but when I try to get DTC, it says "Unable to connect to Bluetooth device". The error message indicates the error happens lower down in the stack – or the app is giving out a misleading error message.

As for F-Droid: for most apps they simply build an APK from the repo. Thus, apart from the signature, there is no difference between an F-Droid build

[2015-12-20 17:33] pires commented on #111
@mvglasow did you run the RC3?

[2015-12-20 23:30] mvglasow commented on #111
Yes, downloaded from https://github.com/pires/android-obd-reader/releases/download/2.0-RC3/android-obd-reader-debug.apk. The app shows as RC2 in the package manager, but that is presumably due to https://github.com/pires/android-obd-reader/blob/2.0-RC3/src/main/AndroidManifest.xml#L6.

[2015-12-21 07:47] pires commented on #111
You are correct. @mvglasow the app crashed? Can you provide logs?

[2015-12-21 08:01] Pho3niX90 commented on #111
I have fixed this issue in my version. The issue was that it crashes when there are no errors found. I will see if I can incorporate my fix with this.

[2015-12-21 08:12] pires commented on #111
@pho3nix90 care to develop further your comment? Is it an app thing? Library thing? I can provide a fix as well if I see some logs.

[2015-12-21 08:14] Pho3niX90 commented on #111
@pires is an app issue. I will provide a fix in the next 30mins.

[2015-12-21 08:14] pires commented on #111
@pho3nix90 awesome! Thank you.

[2015-12-21 08:54] Pho3niX90 commented on #111
Try this: https://github.com/pires/android-obd-reader/pull/153

[2015-12-21 10:44] #111 closed

[2015-12-21 10:48] pires commented on #111
@mvglasow please try https://github.com/pires/android-obd-reader/releases/tag/2.0-RC4

[2015-12-21 14:12] mvglasow commented on #111
@pires OK, will try. Just to clarify: the app does not crash, it simply displays a toast with an error message.

[2015-12-21 14:34] mvglasow commented on #111
Same issue with RC4. When I try to read DTC, all I get is a toast saying "unable to connect to Bluetooth device".

Logcat is attached. Since at the same time Android was syncing my phone book and dumping all its contents to the log, I've filtered for `com.github.pires`. If you need other data, let me know.

[alogcat.2015-12-21-15-22-32+0100.filtered.txt](https://github.com/pires/android-obd-reader

[2015-12-21 14:51] Pho3niX90 commented on #111
@mvglasow are you able to read any other data? Have you conpletely restrted your phone and then ONLY tried reading dtc without clicking on start live data?

[2015-12-21 14:51] mvglasow commented on #111
@pires I have a suspicion what it might be: LiveData and DTC define their own methods to connect to the OBD dongle, and implementations differ.

Compare ObdGatewayService (live data):
https://github.com/pires/android-obd-reader/blob/2.0-RC4/src/main/java/com/github/pires/obd/reader/io/ObdGatewayService.java#L138

and DTC:
https://github.com/pires/android-obd-reader/blob/2.0-RC4/src/main/java/com/g

[2015-12-21 14:59] mvglasow commented on #111
@Pho3niX90 see above – yes, live data works. Didn't try restarting, though. My test cycle was:

* Upgrade
* Start live data – works.
* Stop live data.
* Get DTC – error.
* Start live data – works.
* Stop live data.
* Get DTC – error.

Currently my suspicion is that it's a low-level issue and that my phone requires the hack in ObdGatewayService to get anything out of the dongle at all, and DTC won'

[2015-12-21 15:47] pires commented on #111
Interesting!

[2015-12-21 16:22] Pho3niX90 commented on #111
Try #155, that should work if it is in fact your issue

[2015-12-21 16:23] pires commented on #111
@mvglasow care to try #155?

[2015-12-21 16:24] mvglasow commented on #111
I've just built it myself and implemented a fix, which is functionally equivalent to #155. In fact it works now. I'll just clean up the code to make it a bit more modular (duplicate code isn't very nice) and then send you a merge request.

[2015-12-21 16:29] pires commented on #111
@mvglasow i'm also in favor if a dedup of code.

[2015-12-21 17:00] mvglasow commented on #111
Just built and tested successfully (live data and DTC work).

I've introduced a new class, io.BluetoothManager, to take the new method, because I didn't find any other class that looked appropriate for this. If you have a better idea (you certainly know the code better than I do), feel free to refactor.

[2015-12-21 17:04] pires commented on #111
@mvglasow this was a really nice contribution. Thank you for that. And thank you for debugging this issue until a solution was found.

[2015-12-21 19:43] mvglasow opened #157 "Some missing DTCs"
I came across a few missing DTCs you might want to add:

    P0200 Fuel Injector
    P2181 Performance Malfunction in Cooling System
    P2187 System too Lean at Idle Bank 1
    P310B Fuel Pressure Outside Specification - Intermittent

I see that the guys over at OpenOBD (https://sourceforge.net/projects/openobd/) have a nice Sqlite database of DTCs and PIDs, a lot of which are not in Android OBD-

[2015-12-21 20:42] pires commented on #157
You need to follow GPL if you import or copy their code. There's no need for that. Thank you for the link.

[2015-12-22 09:22] Pho3niX90 opened #158 "Service not binding after failure"
I noticed that the service refuses to bind again when the service has failed. For example.
The app receives a bluetooth error and can no longer process info, stop service and then try to start again it it will do nothing. You have to clear app from memory to start again.

[2015-12-22 09:28] pires commented on #158
Any logs related to the initial failure and the service failed binding?

[2015-12-22 09:32] Pho3niX90 commented on #157
Here is the full list, http://www.obd-codes.com/trouble_codes/
However, most DTC are brand specific and descriptions change.

[2015-12-22 09:33] Pho3niX90 commented on #158
No nothing. With my debugging it just doesn't happen, but no error logs. I am trying to figure out why the service doesn't bind / recreate unless the app gets a proper restart

[2015-12-22 12:00] mvglasow commented on #157
@Pho3niX90 This is a really great resource! Unfortunately the bottom of the page states that all information on the page is strictly copyrighted, so we probably won't be able to just siphon off their data and feed it into the tool. They do permit linking, though – we could have each DTC open a link to their site (`http://www.obd-codes.com/$DTC`, replacing `$DTC` with the respective code).

As for

[2015-12-23 07:21] Pho3niX90 commented on #157
@mvglasow That is an interesting read and never knew that. I did have reference to an opensource db somewhere. I know we have discussed this in another issue somewhere, but since the trouble codes are law they are very generic and should follow a principle and guideline.

Here are more: http://www.nology.com/OBD2FaultCodes.htm
And another without any copyright notice: http://www.dtcsearch.com/

[2015-12-23 07:44] Pho3niX90 commented on #157
I am busy populating a DB. Question is should this be kept in an Array (For easy translation). Or a sqlite db that cannot be translated.

[2015-12-23 08:21] pires commented on #157
Guess it depends on the size of the array.

[2015-12-23 09:09] Pho3niX90 commented on #157
It will be 3 arrays, the key (code), the description and the make. Each being 7919rows

[2015-12-23 10:49] #157 closed

[2015-12-23 10:52] #131 closed

[2015-12-23 10:53] #145 closed

[2015-12-23 10:54] pires commented on #158
@Pho3niX90 ok will close this until you find proof this doesn't work as expected.

[2015-12-23 10:54] #158 closed

[2015-12-23 11:19] mvglasow commented on #157
@Pho3niX90 If it's not too late: a Sqlite DB could be translated as well if we included an extra column for language. The search key would then be DTC, make and language. The language field could be `null` for English descriptions, with some logic to fall back to that if no description is found in the current UI language.

It would take some extra coding: we'd initially need to determine the UI la

[2015-12-23 11:23] Pho3niX90 commented on #157
@mvglasow I also prefer a DB. But realistically people that will be translating will most probably not have the apps to open up a db and edit it.  On commits you also will not have the ability to see what actually changed. And the extra programming might be a pita and will require a lot of testing to make sure it doesn't cause issues with special characters.

[2016-01-04 14:44] Kolyall opened #163 "Can't Interrupt reading thread while Executing queue"
Here is code of  `ObdGatewayService.class`
...........
`protected void executeQueue() throws InterruptedException {`

        Log.d(TAG, "Executing queue..");
        while (!Thread.currentThread().isInterrupted()) {
            ObdCommandJob job = null;
            try {
                job = jobsQueue.take();`

                // log job
                Log.d(TAG, "Taking job[" + job.getId() + "

[2016-01-04 15:29] pires commented on #163
Interesting! Thank you for reporting, will look into it.

[2016-01-05 08:40] Kolyall opened #164 "Exceptions trouble: IndexOutOfBoundsException: Invalid index 3, size is 3"
For command: PID:01 5E name: "ConsumptionRateCommand.class"
Error:
W/System.err: java.lang.IndexOutOfBoundsException: Invalid index 3, size is 3
W/System.err:     at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
W/System.err:     at java.util.ArrayList.get(ArrayList.java:308)
W/System.err:     at com.github.pires.obd.commands.fuel.ConsumptionRateCommand.performCalculations

[2016-01-05 08:41] Kolyall opened #165 "For PID:01 34 name: "WidebandAirFuelRatioCommand.class" there is Exceptions trouble"
For command: PID:01 34 name: "WidebandAirFuelRatioCommand.class"
Error:
W/System.err: java.lang.IndexOutOfBoundsException: Invalid index 3, size is 3
W/System.err: at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
W/System.err: at java.util.ArrayList.get(ArrayList.java:308)
W/System.err: at com.github.pires.obd.commands.fuel.ConsumptionRateCommand.performCalculations(Consum

[2016-01-05 08:45] Kolyall opened #166 "For PID:01 23 name: "FuelRailPressureCommand.class" there is Exceptions trouble"
For command: PID:`01 23` name: "`FuelRailPressureCommand.class`"
`W/System.err: java.lang.IndexOutOfBoundsException: Invalid index 3, size is 3`
`W/System.err:at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)`
`W/System.err:     at java.util.ArrayList.get(ArrayList.java:308)`
`W/System.err:     at com.github.pires.obd.commands.fuel.ConsumptionRateCommand.performCalculations

[2016-01-05 08:50] Kolyall opened #167 "Exceptions trouble : MisunderstoodCommandException"
For command: PID:`01 1F` name: "`RuntimeCommand.class`"
`com.github.pires.obd.exceptions.MisunderstoodCommandException: Error running 01 1F, response: ?`
`W/System.err:     at java.lang.reflect.Constructor.newInstance(Native Method)`
`W/System.err:     at java.lang.Class.newInstance(Class.java:1689)`
`W/System.err:     at com.github.pires.obd.commands.ObdCommand.checkForErrors(ObdCommand.java:203)

[2016-01-05 08:52] Kolyall commented on #167
The same issue for `01 2F` : `FuelLevelCommand.class`

[2016-01-05 08:58] Kolyall commented on #164
The same issue for this PIDs:

Pid:01 5E : ConsumptionRateCommand.class
Pid:01 34 : WidebandAirFuelRatioCommand.class
Pid:01 23 : FuelRailPressureCommand.class
Pid:01 21 : DistanceMILOnCommand.class
Pid:01 31 : DistanceSinceCCCommand.class

[2016-01-05 08:59] Kolyall commented on #165
Dublicate

[2016-01-05 08:59] #165 closed

[2016-01-05 09:00] Kolyall commented on #166
Duplicate of https://github.com/pires/android-obd-reader/issues/164

[2016-01-05 09:00] #166 closed

[2016-01-05 09:27] pires commented on #164
`performCalculations` is the culprit here.

[code]

Thing is, why are there only 3 bytes when there should be 4? Could this be a protocol thing? I call in the master of multi-protocol support, @valens254.

[2016-01-05 09:32] Kolyall commented on #164
@pires Maybe you should check size of `buffer`, without hardcode getting  `buffer.get(2) ` and `buffer.get(3)` ?

[2016-01-05 09:34] pires commented on #167
I can't understand what's going on with this output. Care to disclose the full stacktrace?

[2016-01-05 09:37] Kolyall commented on #167
@pires It's full log stacktrace.

[2016-01-05 09:37] pires commented on #164
@Kolyall I could do that, but then the result would need to be an exception since the standard is pretty adamant about the result calculations. In this case, with my tests - and it's working for others - one would need to ignore the first two bytes of the response, namely `41 5E` which means `response to 01 5E`.

[2016-01-05 09:41] Kolyall opened #168 "Error: java.lang.StringIndexOutOfBoundsException: length=11; regionStart=9; regionLength=3"
For PID: `03` : `TroubleCodesCommand.class`

W/System.err: java.lang.StringIndexOutOfBoundsException: length=11; regionStart=9; regionLength=3
W/System.err:     at java.lang.String.startEndAndLength(String.java:504)
W/System.err:     at java.lang.String.substring(String.java:1333)
W/System.err:     at com.github.pires.obd.commands.control.TroubleCodesCommand.performCalculations(TroubleCodesCommand

[2016-01-05 09:41] pires commented on #167
Commands may return exceptions. You need to handle them. In this case, the error seems to be related to the response to `01 1F` which seems to be wrong.

Since you're having so many issues, I'd say the protocol your car uses is mostly unsupported by `obd-java-api` library.

@valens254 seems to be the multi-protocol expert around and he's probably the most fit to help here again.

[2016-01-05 09:42] pires commented on #168
@valens254 again, can you help? This is something you've worked on.

[2016-01-05 10:55] #163 closed

[2016-01-05 14:50] Kolyall commented on #164
About ignore of first two bytes I understand, and it is good for responce `41041B70`- after cut `1B70` is remaining -  The decoded number is `7024`

but if responce is `4104EA` - after cut `EA` is remaining -  The decoded number is  `234` - and here is bug reproduced

[2016-01-05 15:24] pires commented on #164
I'm not sure it _can_ be a single byte response, but in case you're right it should be easy to implement. Want to open a PR in `obd-java-api` which fixes this? Please, don't forget to add unit-tests that assert your code works.

[2016-01-06 05:22] valens254 commented on #168
I will look and check.

[2016-01-06 18:55] valens254 commented on #168
@Kolyall I look and it seems like one frame with two DTC. But it message length must be 12 however into log "W/System.err: java.lang.StringIndexOutOfBoundsException: length=11;" 11. It is strange. May you check getResult() method?

[2016-01-11 17:12] nomwerp commented on #111
i set up F-droid to automatically build from github but that works on the  android:versionName
in AndroidManifest.xml ..  so if someone updates that to match the latest tag  (exactly!) it should
automagically appear on f-droid

On Sunday 20 December 2015 08:52:25 mvglasow wrote:

Same symptoms here, too: I can collect live data but when I try to get DTC, it says "Unable to
connect to Bluetooth dev

[2016-01-19 09:58] lokesh1219 commented on #16
Hi, I am getting live data is perfect but when i click on GET DTC it throwing OBD command failure and list Data null , whta is the solution of it.

[2016-01-19 10:00] lokesh1219 commented on #16
is there any process to get dtc .

[2016-01-24 13:35] mstormi opened #169 "MQTT interface?"
Hi,
thanks for your work!
Please let me frankly ask if you would be willing to add a MQTT server side interface?
Then everybody could run his own MQTT server (such as mosquitto running on a Pi at home, or rent a cloud MQTT service). There's solutions available to track, store and analyze MQTT-sent data that could be reused instead of running your own server, and even more important, it'll enable f

[2016-01-25 08:00] sytolk commented on #169
:+1:

[2016-01-26 10:46] pires commented on #169
A server side interface? You mean, implement MQTT client that publishes data to one MQTT broker?

[2016-01-26 11:17] mstormi commented on #169
exactly

[2016-01-26 11:41] pires commented on #169
Is that a server-side interface? Anyway, seems interesting and I'm open to review a PR.

[2016-01-27 07:25] mstormi commented on #169
Oh, seems you got me a little bit wrong there. I don't have anything to contribute, unfortunately ... actually I meant this to be a feature request to you :-) Sorry for being unclear.
Btw, for a blueprint, you can check out the 'owntracks' app on Github.

[2016-03-07 07:22] saurabh-agarwals opened #172 "OBDII reader crash"
AndroidRuntime                [E] FATAL EXCEPTION: main
AndroidRuntime                [E] Process: com.github.pires.obd.reader, PID: 16365
AndroidRuntime                [E] java.lang.NullPointerException: Attempt to invoke virtual method 'void com.github.pires.obd.reader.io.LogCSVWriter.writeLineCSV(com.github.pires.
                                  obd.reader.net.ObdReading)' on a null object re

[2016-03-28 13:01] #168 closed

[2016-03-29 10:13] lokesh1219 opened #173 "Default Codes issue"
Click on Get DTC then Its not giving trouble code whether trouble code coming in live data. it gives OBD Command Failure.

[2016-03-29 16:07] KirbyJames opened #174 "VIN - Binary result returned"
Hi, I've rebuilt android-obd-reader-2.0-RC3 which I think contains obd-java-api-master 1.0-RC15 or RC14.

After looking at earlier VIN related prblems I've added ATH0 to the initialisation string.  However I still get (a fixed) binary value displayed for the VIN (except on about 1 in 10 occsaions when it does display the correct value).

I'd be grateful for any pointers as to what I might be doing

[2016-03-30 05:52] pranaypatel512 opened #175 "Detect CAR AC(on/off) and Window(open/close) using OBD"
Is there any way to detect AC(air conditioner)  and Window(open/close) using OBD.

[2016-03-31 16:41] jbits opened #176 "Missing ALTITUDE"
public class LogCSVWriter
private static final String[] NAMES_COLUMNS

[2016-05-06 10:54] Pho3niX90 commented on #175
HI, please see https://en.wikipedia.org/wiki/OBD-II_PIDs#Mode_09

You will have to hack the canbus to achieve what  you need, not part of this project.

[2016-05-06 14:58] pires commented on #175
I wish manufacturers would at least implement all standard PIDs. Thank you @Pho3niX90.

[2016-05-06 14:58] #175 closed

[2016-05-09 08:51] Pho3niX90 commented on #174
This is still an issue on my side as well. I am prepared to put up a $10 reward for a proper fix for the VIN.

[2016-05-09 11:01] shareef593 commented on #174
Add $10 from me

Sent from my iPhone

[2016-05-10 07:24] Pho3niX90 commented on #174
For all that are having this issue, please post your rawData vin here. I need to see what vins are being returned so that I can figure out one algorithm.

[2016-05-11 10:49] KirbyJames commented on #174
Many thanks for returning to this issue.

Below are two VINs shown as both raw and hex

    euÂ¥Â¥Â£ÂµÂ¤ #3s#
    eÂ…Â„Ã”Â£ £ÂƒSs

![hex](https://cloud.githubusercontent.com/assets/6604358/15178591/60762974-176e-11e6-8ff4-66577dfddbbb.png)

[2016-05-11 10:50] KirbyJames commented on #174
Many thanks for returning to this issue.

Below are two VINs shown as both raw and hex

euÂ¥Â¥Â£ÂµÂ¤ #3s#
eÂ…Â„Ã”Â£ £ÂƒSs
![hex](https://cloud.githubusercontent.com/assets/6604358/15178629/9613fba6-176e-11e6-9126-27a41204289c.png)

[2016-05-11 12:22] Pho3niX90 commented on #174
@kirbyjames
Could you please post your raw response from the obd. So that I can do tests?

[2016-05-11 12:46] Pho3niX90 commented on #174
@KirbyJames Pleaes try this project: http://goo.gl/uAcCK3
Replace the result string with your raw response. See if it's giving you the correct output

[2016-05-11 14:49] Pho3niX90 commented on #176
@jbits could you please elaborate on the issue?

[2016-05-11 14:57] Pho3niX90 commented on #164
@Kolyall Can you please instead of using the calculated results, publish the rawData respons? This will explain what is going on

[2016-05-11 15:24] KirbyJames commented on #174
Hi, I've added the code to VinCommand.java and rebuilt the app. Unfortunately it returns the same value ..

<img width="232" alt="capture" src="https://cloud.githubusercontent.com/assets/6604358/15186406/cf1981de-1794-11e6-9b7c-fe2605808b02.png">

[2016-05-11 15:40] Pho3niX90 commented on #174
@KirbyJames I will need your rawData response to rrsolve.

[2016-05-11 15:40] Pho3niX90 commented on #174
in calculated results. Instead of returning vin return tawData

[2016-05-11 15:42] Pho3niX90 commented on #174
sry I am in the phone. mean rawData

[2016-05-11 16:02] Pho3niX90 commented on #174
@KirbyJames
Please add the following in you vin data
`Log.d("VinCommand.java", "rawdata: " + rawData);`

Like so:
![image](https://cloud.githubusercontent.com/assets/7858187/15187716/7de5c4a4-17a2-11e6-9f7a-f52221882408.png)

Then find the raw response in your logcat.

[2016-05-11 16:57] jbits commented on #176
NAMES_COLUMNS is missing column name for ALTITUDE.
LogCSVWriter writes out altitude:
`            crl = reading.getTimestamp() + ";" +
                    reading.getLatitude() + ";" +
                    reading.getLongitude() + ";" +
                    reading.getAltitude() + ";" +
                    reading.getVin() + ";";`

As a result all values past Longitude have wrong column heading.

[2016-05-11 18:00] KirbyJames commented on #174
Ah. I have realised that my build is using the github version of obd-java-api-master/.  I have downloaded the obd-java-api-master library - but I don't know how to modify the gradle configuration to use it in the build.

[2016-05-11 18:52] Pho3niX90 commented on #174
@KirbyJames I have no idea to be honest. I have completely moved away from gradle.
@Pires do you know the answer to the above question?

[2016-05-11 20:00] KirbyJames commented on #174
I've managed to re-build the app with the modified VinCommand.java
I've printed the rawdata value below ... and a valid 17-character Vin is returned :-)

rawdata: 0:4902015756571:5A5A5A314B5A422:57323233373237
    Vin: WVWZZZ1KZBW223727

rawdata: 0:4902015756571:5A5A5A314B5A422:57323233373237
    Vin: WVWZZZ1KZBW223727

[2016-05-11 20:15] Pho3niX90 commented on #174
@KirbyJames Awesome news! What vehicle was it used in, which country and what year model is the vehicle? This will help greatly in diagnosing further enchancements to the VIN.

[2016-05-11 21:27] KirbyJames commented on #174
WVWZZZ1KZBW223727 is a 2011 VW Golf registered in the UK.
Will the update be included in an updated obd-java-api?

[2016-05-11 21:45] Pho3niX90 commented on #174
Then it's most def a can. on same restriction as we here in south africa are, except no emissions.
Anyways, yes the changes will be added to the lib, pullrequest is located here -> https://github.com/pires/obd-java-api/pull/113

[2016-05-12 11:51] pires commented on #174
I'll be releasing library RC16 as soon as @Pho3niX90 finishes an open PR and will update this project.

[2016-05-12 11:53] #135 closed

[2016-05-17 06:53] Pho3niX90 commented on #173
Have you tried the latests version of the app? This should have been fixed in a previous PR.

[2016-05-17 08:50] yangwuan55 opened #179 "Cant connect to the obd by bluetooth"
The state is always return UNABLETOCONNECT.Please help me,thanks!

[2016-05-17 09:28] Pho3niX90 commented on #179
You are either selecting the incorrect device to connect to, or the device is faulty.

[2016-05-17 10:18] pires commented on #179
What @Pho3niX90 said. This is a Bluetooth issue and not an app issue.

[2016-05-17 10:18] #179 closed

[2016-05-17 10:20] pires commented on #173
Closing for now. Will re-open if there's proof this doesn't work.

[2016-05-17 10:20] #173 closed

[2016-05-17 10:20] #146 closed

[2016-05-17 10:21] #172 closed

[2016-05-17 10:21] pires commented on #174
Done.

[2016-05-17 10:21] #174 closed

[2016-05-17 10:22] pires opened #180 "Better CAN support"
@Pho3niX90 you want to lead this?

[2016-05-17 10:22] pires commented on #167
@Pho3niX90 would this be a CAN thing too?

[2016-05-17 10:23] pires commented on #176
@jbits why don't you open a PR with a fix? Would be glad to merge.

[2016-05-17 10:27] Pho3niX90 commented on #180
Yes perfect thank you

[2016-05-17 10:31] Pho3niX90 commented on #167
I think this is purely a protocol that is not supported by the vehicle.
@Kolyall Which vehicle are you testing on and which year model? If I am correct this is not crashing the app, but just throwing the stacktrace? Thus far I have only seen 1 car that supports fuel level, and non that supports run-time (accurately).

[2016-05-17 10:35] pires commented on #180
I will create similar issue in the API project.

[2016-05-18 10:15] #164 closed

[2016-05-25 05:53] yangwuan55 commented on #179
Thanks.
I found the problem.

[2016-05-26 07:14] Pho3niX90 commented on #179
@yangwuan55 care to share what the problem was?

[2016-05-27 10:33] phamels opened #183 "When service is running and you open the notification, it fails to check if the service is running"
Hi,

I've noticed that when you start the service, the notification is created and the service is actually running, when you click on the notification to return to the main activity, it fails to check if the service is actually running even though it is running.

So if (service != null && service.isRunning()) always returns a false even though it is still running in the background but the main act

[2016-05-29 19:07] #176 closed

[2016-05-29 19:07] pires commented on #183
@phamels thanks for reporting. Care to open a PR that fixes this?

[2016-06-15 11:00] kaorijp opened #186 "Update data too much delay + Can not get Distance traveled"
Hi
I was using ODB reader to test my app in real Car.
And I have some confusion with current source code.

1. The Speed data update is too later than real.
2. Can not get Distance Traveled.

Please help me to confirm
Thanks

[2016-06-15 11:09] Pho3niX90 commented on #186
1. This is because OBD2 protocol is not lightning fast, there will always be a delay based on the ECU of your vehicle + OBD2 adapter being used.

2. As for distance traveled, is your GPS working?

[2016-06-15 11:21] kaorijp commented on #186
Thank for your reply.
I would like to confirm as below

1. I was testing with adapter OBD II Multi Meter that was supported by OBD Info-san MAXWIN application.
It's working fine
- Updating is  as fast as real kilometer on car. ( I feel it is no delay and very smooth )
So, when I switch to use OBD-reader, the updating is very late.

2. I removed the GPS function on app ( by customize source code )

[2016-06-15 11:24] kaorijp commented on #186
In addition, I can get distance by using OBD Info-san MAXWIN without turn on GPS.
I confirmed that

[2016-06-15 11:31] Pho3niX90 commented on #186
@kaorijp if you do not like that it uses GPS to get accurate distance traveled as opposed to a OBD2 PID that is unreliable then I suggest you modify it to your liking.

As for speed issues, the app by default polls ALL sensors and will slow down individual PIDs. So turn off all sensors that you are not interested in.  The app you mentioned does not poll more than 3 to 4 sensors at a time I assume.

[2016-06-15 11:34] kaorijp commented on #186
@Pho3niX90
Thank for your suggestion.
I'll try to do that

[2016-06-15 11:38] pires commented on #186
@Pho3niX90 always to the rescue, thanks man!

[2016-06-15 11:38] #186 closed

[2016-06-15 12:01] sytolk commented on #186
@pires @Pho3niX90 do its have command implemented in obd-reader that can return vehicle KM traveled? Its will be good to match it with the GPS distance.

[2016-06-15 12:09] kaorijp commented on #186
This is my confusion. I try to confirm that.
Theoretically, we can do that.

[2016-06-15 12:26] Pho3niX90 commented on #186
@sytolk It's available, but I have never gotten anything reliable or remotely accurate from it. The thing is all mobile devices today have a proper built in GPS to properly calculate the distance traveled. Being a business intelligence developer by trade I always opt for the most accurate data possible.

@pires always a pleasure

[2016-06-20 11:31] hoangvm opened #187 "ELM327 OBD II mini return strange initial value"
Hi

I was testing with ELM 327 OBD II adapter but there are many problem with it.
Here is the adapter:
https://www.amazon.co.jp/gp/product/B00J7CC4T2/ref=s9_simh_gw_g263_i3_r?pf_rd_m=AN1VRQENFRJN5&pf_rd_s=desktop-1&pf_rd_r=CWQZA5C1423S3A1CGSS4&pf_rd_t=36701&pf_rd_p=9d539fa0-72bc-4756-8b94-2163f0a38a88&pf_rd_i=desktop

After connect to adapter, all of initial value is very strange.
Speed is 11565 (

[2016-06-20 13:04] bitaromulus commented on #187
Hello,

I am also receiving some strange values for most of the parameters. I am using the ECUsim 2000 simulator and for example, the Speed and RPM is displayed like this:
Speed: 410D941:DAF11803410D942:DAF12803410D94
RPM: 410CFFFF1:F11804410CFFFF

When i manually change the value of the parameters of the ECUsim, these parameters are updated but are displayed in the same format.
Is this a format i

[2016-06-20 13:29] Pho3niX90 commented on #187
@bitaromulus that is incompatibility. You are seeing can responses. I am busy working on getting can to work, however my vehicle's do not respond in can so it's taking longer than expected.

Could you please post more raw responses along with what the value should be (roughly).

[2016-06-20 13:30] Pho3niX90 commented on #187
@kaorijp could you please post your raw responses?

[2016-06-20 15:22] bitaromulus commented on #187
@Pho3niX90

Hello again,

My ECUsim 2000 has 5 knobs which can be used to manually update the values of the parameters.
The parameters that can be monitored are:
- Knob 1: Engine Coolant Temperature;
- Knob 2: Engine Speed (RPM);
- Knob 3: Vehicle Speed;
- Knob 4: Oxygen Sensor Voltage (I don't know if this is actually available in the current API, didn't check);
- Knob 5: Mass Air Flow (MAF).

Th

[2016-06-21 01:39] kaorijp commented on #187
Good morning !

@Pho3niX90
Regrading the raw data, I'm sorry that I didn't save it before. I will take the screenshot or file log in next testing time.
BUT, all of strange value look likes a [Max value] that is described on Wiki page:
https://en.wikipedia.org/wiki/OBD-II_PIDs

For examples :
RPM 16,383
Distance 65,535
etc...

@bitaromulus
Have you think the protocol type is a one of reasonable ?
(

[2016-06-21 06:29] bitaromulus commented on #187
Good morning,

@kaorijp I've tried with all of the available protocols and only the CAN ones provide good data (except for the Vehicule Speed). The other ones do not work, NODATA is displayed in most of the cases.
Currently, i also use AUTO setting.
This evening, i will also try to post a screenshot and if possible, a log file. I guess this way, it will be better.

Thank you and have a nice day !

[2016-06-21 06:56] kaorijp commented on #187
@bitaromulus

Thank for your reply.
As far as I know, the Vehicle speed is the most important value.
Anyway, I'm waiting your next report.
I will also try to test with all protocols. I just need to get Timing, Speed, Distance only .
Report you soon....

[2016-06-21 20:37] bitaromulus commented on #187
Hello once again,

I've tested once again the application but it's the same problem with the vehicle speed.
I am attaching the log file, i hope it helps to identify more easily the source of this problem:
[OBDReader_logcat_1466540907052.txt](https://github.com/pires/android-obd-reader/files/326537/OBDReader_logcat_1466540907052.txt)

If you need any other information, please let me know.

Thank yo

[2016-06-22 11:24] kaorijp commented on #187
Hello @bitaromulus
I have a question for you.

What kind of CAN protocol that has been confirmed ?
There are many CAN protocols type that is defined in source code .
Ex:
IOS_15765_4_CAN
IOS_15765_4_CAN_B
IOS_15765_4_CAN_C
IOS_15765_4_CAN_D
SAE_J1939_CAN
USER1_CAN

[2016-06-22 19:42] bitaromulus commented on #187
Hello @kaorijp

You are right, i should have been more specific regarding the protocol which i use.
My ECUsim 2000 is not full featured, this means that it currently supports only the Standard ISO 15765-4.

I currently have chosen the AUTO option from the configuration menu, but it always uses IOS_15765_4_CAN_C (except for the Vehicle Speed, everything works for me with this protocol).
If i choose

[2016-06-23 11:44] kaorijp commented on #187
@bitaromulus

I'm planing to buy a OBD 2 Simulator such as ECUsim.
So I have been testing on real car ( Toyota Voxy 2014).
I didn't test with each of protocol type. Just set as AUTO.
Beside that, I do not use Wifi , my expected is what is the real result that retuning by OBD II command only .
I dont want to get distance by GPS.
Can you help me to test Distance MIL with out GPS ?

[2016-06-23 11:57] Pho3niX90 commented on #187
@kaorijp Distance MIL is not distance traveled, it's distance traveled with MIL light on.

[2016-06-23 12:01] Pho3niX90 commented on #187
@bitaromulus thank you for the examples you have posted.
My pc crashes and need to resetup everything from scratch again. Once I have done that I will work on a solution for the can messages.  I will look into acquiring the ecusim as well for the multiprotocol development. Currently I use win-obdsim for testing but only supports kline messages.

[2016-06-23 12:07] Pho3niX90 commented on #187
@bitaromulus
Could you please post example of these mods
29 bit / Fast Init + 500kbps
11 bit / 5 Baud Init + either 500 kbps or 250 kbps

With 2 raw examples of each knob, for each protocol above? That would be a considerable help to improve the library @ https://github.com/pires/obd-java-api/issues/115

[2016-06-23 12:07] kaorijp commented on #187
Good evening!
@Pho3niX90

Thanks for your explain.
So , OBD 2 is not currently supporting distance traveled command (PID) ?

[2016-06-23 12:09] Pho3niX90 commented on #187
@kaorijp no it doesn't have such a function. Only distance travelled with MIL on, and since codes cleared. See https://en.wikipedia.org/wiki/OBD-II_PIDs

[2016-06-23 19:18] bitaromulus commented on #187
Hello @Pho3niX90

I have managed to group some raw incoming/outgoing data for each of the Knobs.
In the pictures, you will see incoming/outgoing data from the ECUsim 2000, which i've captured using TeraTerm. I've started with min value for each knob and gradually increased it until the max value (you will notice that the values will modify).
Also, for each Knob, i've associated the log file.

**11

[2016-06-27 06:50] kaorijp commented on #187
@bitaromulus
@Pho3niX90
I'm so sorry for ask you again about Distance traveled.
I'm really confused with three Module $ PID
- 01 21   -> Distance traveled with malfunction indicator lamp (MIL) on
- 01 31   -> Distance traveled since codes cleared
- 04 NA  -> Clear trouble codes / Malfunction indicator lamp (MIL) / Check engine light
(Clears all stored trouble codes and turns the MIL off.)

From my

[2016-06-27 07:06] Pho3niX90 commented on #187
@kaorijp What are you trying to achieve?

[2016-06-27 07:18] kaorijp commented on #187
@Pho3niX90
Ex: A car travels from point A to point B.
How many km driven in this case?

[2016-06-27 07:46] Pho3niX90 commented on #187
@kaorijp Then there is no pid for you. 31 has a max value it will display and does not get reset on each trip. 31 is distance travelled after the last time errors were cleared. And it's not supported by most vehicles as far as I have seen

[2016-06-27 09:34] yangwuan55 commented on #179
@Pho3niX90 I use the simulator,and the simulator should set the agreement,I set the agreement and it can use.

[2016-06-27 14:06] sytolk commented on #187
@Pho3niX90 I have KM on the display of my car :) and I suppose that its have some pid to get this KM. If its have this KM (of production without reset) a car travels from point A to point B = km B - km A

[2016-06-27 14:55] Pho3niX90 commented on #187
@sytolk There is no generic PID for this. Therefore not possible in this project. You will have yo run a sniffer on your vehicles network to find it. But this is different per brand and per model. I personally do not see a need for this so cannot assist in persuing it when the gps works flawlessly.

[2016-06-27 14:59] Pho3niX90 commented on #187
@kaorijp My only suggestion to what you want to achieve is monitor the cars speed over the session time and calculate the distance.

[2016-06-27 15:53] sytolk commented on #187
@Pho3niX90 this is good idea. @kaorijp can you check distance calculated from speed like: List<Integer> speedChanges = [30,10,30,25,5];
if(curr_speed != previous_speed) //add to array
int avgSpeed = 100/5=20 km/h
distance (km)= 20 x time(h)

[2016-06-27 15:57] sytolk commented on #187
Its wrong :) its need to have timestamp attached to the HashMap speed => timestamp

[2016-06-27 16:50] HIGHLANDER3 commented on #187
![distancetraveled](https://cloud.githubusercontent.com/assets/17783369/16387924/51ebf9aa-3c6d-11e6-8d79-17a06c4582f7.jpg)

If you take the memorized distance traveled and subtract from the actual and display it, that could satisfy?
You just need to consider that other option when he uses the other PID for the calculation the distance traveled due to MIL ocurrence.
It will not be good if you clear

[2016-06-27 17:15] sytolk commented on #187
Maybe some mix if pid 31 and 21 supported by vehicle use it. If not it will be good to have distance based on speed changes or to enable both methods +GPS and match the results. Who can provide PR ? :)

[2016-06-28 04:05] kaorijp commented on #187
@Pho3niX90

What does max value mean in this case ?

@sytolk
@Pho3niX90

Yep. This is my workaround until now.
I also tested this case and has a litle difference from the real kilometer on car.

### Results
In fact, I have driven 2.2km and spent 15 minutes. But the calculation is returned 1.9 ~ 2.05 km
Maybe the calculation the not good BUT the main problem is the speed is not updated in real time

[2016-07-05 03:27] jbits opened #188 "Broken pipe"
Currently "IOException: Broken pipe" falls under EXECUTION_ERROR, but I think it requires different treatment. It would make sense to call stopLiveData() automatically when it happens because it is not recoverable anyway.

[2016-07-05 13:01] pires commented on #188
From the top of my head this makes sense. Is a PR coming?

[2016-07-07 09:28] pires commented on #188
Fixed by #189. Thanks @jbits.

[2016-07-07 09:28] #188 closed

[2016-07-07 09:28] pires commented on #183
@jbits want to check this one out? ;-)

[2016-07-07 09:32] pires opened #190 "Fix CircleCI integration."
For some unknown reason, Maven is used to resolve dependencies and it fails.

[2016-07-07 23:16] jbits commented on #183
I can't reproduce it. From what I understand after I go back to the app by clicking on notification (service != null && service.isRunning()) evaluates to false. I don't see it happening. Maybe somebody could explain more clearly what is the issue. I'm fairly new to android.

[2016-07-12 12:55] unnivm opened #191 "Detectng protocol"
it is not related to your app issue here. but it is generic. I have developed an OBD reader and want to detect protocol automatically. But for some devices, this detection does not work and the no readings are displayed.

So I added a Timeout command before I call detecting the protocol. Please let me know whether this approach will work.

Note: Your project helped me a lot to understand basics of

[2016-07-16 13:04] pires commented on #191
If there's anything I've learned about OBD is that nothing is guaranteed. Good luck!

[2016-07-16 13:04] #191 closed

[2016-07-16 13:04] #183 closed

[2016-07-16 13:04] #169 closed

[2016-07-16 13:05] #167 closed

[2016-07-16 13:22] unnivm commented on #191
Thank you Pires.

Unni M

On Sat, Jul 16, 2016 at 6:34 PM, Paulo Pires <notifications@github.com>
wrote:

--
---
If not played, Free Sudoku Android Game
<https://play.google.com/store/apps/details?id=com.gamerfan.sudoku>

[2016-07-20 03:08] #187 closed

[2016-08-01 07:53] galuhboy123 opened #195 "Issue LogFile 0KB"
hai my name is Boy (student)

i want to ask about log file that was created in SD card on directory called "OBDReaderLogs".
in that folder we should see log file from previous trip from obdreader progrom, But somehow after i try it, the file log was created but there is nothing on it (file 0 kb).

anyone could help please

thanks

(sory for bad english)
grads BOY

[2016-08-01 17:07] jbits commented on #195
Nothing obvious. I use logging a lot and it works. Your best bet is to debug it yourself.

[2016-09-01 07:00] achinverma opened #196 "Car Control feature?"
Hi, i have used this api in my car and it is running finr, but is it possible to send some commands so that we control some car features like, via sending any command from this api to car using obd-reader reader ,
i can trigger car horn or Head Lamps , please let me know if this is possible using this api or any other?

[2016-09-01 07:59] pires commented on #196
The API (obd-java-api) used in this project allows you to send any command you desire.

[2016-09-01 07:59] #196 closed

[2016-09-01 08:59] achinverma commented on #196
ok , i mean to say that i can turn on/off car Horn or Head Lamps via this api from android mobile app , please share any example or code ?

[2016-09-01 09:16] pires commented on #196
OBD-II PIDs are not meant for that. You must consult your car manufacturer to get the proprietary commands to execute.

[2016-09-13 13:00] boriskn opened #197 "Wrong readings"
I have wrong readins for data on that application. I'm getting fixed rpm value (4163) for example. Other readings come up as fixed also.

Could you help me please.

[2016-09-13 15:08] pires commented on #197
You should try different protocols since auto selection isn't working.

[2016-09-14 08:14] boriskn commented on #197
I triead all the protocols...they all turn the same static values if they are successful. Else I get ERROR or NODATA.

I tried with torque and it works well on no matter what protocol I use.

I'm testing everything with Freematics OBD emulator if that helps.

Do you have any idea what else could I try?

Thanks!

[2016-09-14 08:24] pires commented on #197
It's probably CAN stuff that is not well supported right now.

[2016-09-14 08:27] boriskn commented on #197
What do you reccomend that I can do now to continue testing / developing the app?

[2016-09-15 03:51] jbits commented on #197
Also the runtime was a constant 04:37:51.

The GUI is not always refreshing correctly when OBD status  is disconnected. Make sure it's connected before attaching any significance to the readings.

[2016-09-30 07:58] pires opened #198 "Upgrade obd-java-api dependency"
Version 1.0 is out.

[2016-10-12 19:04] malibu1320 opened #199 "Add Mode 22 Support"
Would be nice to work on adding mode 22 support for enhanced PID's.  I can assist.

[2016-10-12 19:54] pires commented on #199
Please, go ahead. github.com/pires/obd-java-api is where it should be implemented.

[2016-10-12 20:00] malibu1320 commented on #199
Do you have any guidance on what needs to be modified? I'm not seeing where the base request header is setup that needs changed.  I have the source running locally and connected to my bench PCMs.

[2016-10-12 21:19] pires commented on #199
Share here what you have and I'll take a look.

[2016-10-13 15:48] malibu1320 commented on #199
Here's an example for GM vs standard OBD.  You request on mode $22 with PID "119D". Now I need to see where to adjust analyzing the buffer for a valid response.

    public BarometricPressureCommand() {super("01 33");} //Standard OBD PID
    public GMBarometricPressureCommand() {super("22 11 9D"); //GM Mode $22 PID

[2016-10-25 17:03] malibu1320 commented on #199
@pires , do you have any tips on how I can implement this?  I tried adding new command classes as seen above and adjusting the buffer offset for finding the data but didn't have any luck (yet).

[2016-10-25 17:08] pires commented on #199
Just override [`fillBuffer`](https://github.com/pires/obd-java-api/blob/master/src/main/java/com/github/pires/obd/commands/ObdCommand.java#L154) or [`readRawData`](https://github.com/pires/obd-java-api/blob/master/src/main/java/com/github/pires/obd/commands/ObdCommand.java#L180), depending on your needs.

[2016-11-12 06:21] galuhboy123 opened #200 "add another unique id for upload get error (retrofit.RetrofitError: 500 Internal Server Error)"
i want to add another unique id, i tried add some code on ObdReading.java  duplicating the vehicleid code and edit MainActivity.java to match the new code. the application still running well but the upload function return retrofit.RetrofitError: 500 Internal Server Error. can someone help me solve this, or tell me if there any other file i forget to modified. thanks in advance...

sorry for bad en

[2016-11-18 06:41] vinod123igloble commented on #197
Hi Pires,
             Thanks for the demo code its really helpful but i have some problem as i am not able to getting distance travelled and Fuel consumption,fuel level by this.can you please help me out of this.

thanks in advance

[2016-12-07 17:40] aanchalharit opened #201 "what is the output of DTCNumber command"
Hi Pires ,

I have just started programming and want to create a ODB2 app. I came across this library and seeing the commands I saw DtcNumberCommand . I have not run it yet but can you please suggest will this command give me all the DTC codes? As there are hundreds of DTC codes how the interpretation of them will work here?

Thanks ,
Aanchal

[2016-12-07 18:19] pires commented on #201
This is not a library but an Android app. The library sits at https://github.com/pires/obd-java-api and there you can find the implementation of said command.

[2016-12-07 18:19] #201 closed

[2017-01-05 09:40] AshishgithubindiA opened #202 "MisunderstoodCommandException: Error running AT E0, response: ?"
Caused by: com.github.pires.obd.exceptions.MisunderstoodCommandException: Error running AT E0, response: ?
                      at java.lang.Class.newInstance(Native Method)
                      at com.github.pires.obd.commands.ObdCommand.checkForErrors(ObdCommand.java:220)
                      at com.github.pires.obd.commands.ObdCommand.readResult(ObdCommand.java:140)
                      at

[2017-01-10 18:20] githubsrinath opened #203 "get_data.php sample"
Is there any get_data.php sample program available to read and store the data in the centralized server.

If not... I will write my own get_data.php.  But I would like to know, what variables I need use in get_data.php in order to get the data from app?

Many Thanks
Srinath Rao

![1](https://cloud.githubusercontent.com/assets/4478246/21818899/90d5d29a-d78f-11e6-9c9a-2feb3965ca67.png)

[2017-01-10 19:07] #195 closed

[2017-01-10 19:07] pires commented on #203
You can base your work in this https://github.com/pires/android-obd-reader/issues/147. But a github/google search would probably give you PHP code as well.

[2017-01-10 19:07] #203 closed

[2017-03-23 13:44] Drjacky commented on #200
@galuhboy123 It's not this project issue. It's yours. Mentioned error means that there is problem on server side. check it via Postman. Anyway, [google that error](https://www.google.com/search?q=retrofit.RetrofitError%3A+500+Internal+Server+Error&oq=retrofit.RetrofitError%3A+500+Internal+Server+Error&aqs=chrome..69i57j69i61.465j0j7&sourceid=chrome&ie=UTF-8).

[2017-03-23 16:10] #200 closed

[2017-04-03 01:28] BrokenTeeth opened #204 "Hi"
Hi.  I got question.

Is possible get handle degree from obd?

thanks.

[2017-04-03 02:02] #204 closed

[2017-07-16 09:01] carpiko1010 commented on #124
I am using this php code on my server, but there is no entries in the mysql table, the tables are created but no data is getting entered into it from the obd app.

[2017-08-03 10:16] simbu88 commented on #60
I Need ODB-II communicate over wifi .if any code give help to me

[2017-08-15 16:31] M-Ahmad-sattar commented on #147
Sir this link is not working now can u please refer some other i need this php trigger code.

[2017-08-15 17:02] M-Ahmad-sattar commented on #203
sir is still any referral information regarding this point?

[2017-08-18 12:46] MuthuEphron opened #207 "Orientation sensor is missing"
I installed the apk in BLU Mobile, Samsung Galaxy Note. I got  the issue "Orientation Sensor is missing ?"

List out the supported mobiles

[2017-09-11 06:21] lingling-fan opened #208 "NullPointerException"
//package name: com.github.pires.obd.reader
//version: 2.0-RC2
//target sdk version: android-18
 java.lang.RuntimeException: Unable to resume activity {com.github.pires.obd.reader/com.github.pires.obd.reader.activity.MainActivity}: java.lang.NullPointerException
 	at android.app.ActivityThread.performResumeActivity(ActivityThread.java:2790)
 	at android.app.ActivityThread.handleResumeActivity(Acti

[2017-10-27 08:25] deft5746 commented on #186
I have a ELM327 device and i want to calculate distance from start point to end point with ELM327 device and not with GPS.I am a newbie and I am unable to find anything on the internet. Can anyone help with this? Any help would be appreciated.

[2017-10-27 08:26] deft5746 opened #209 "Find Distance with ELM327"
I have a ELM327 device and i want to calculate distance from start point to end point with ELM327 device and not with GPS.I am a newbie and I am unable to find anything on the internet. Can anyone help with this? Any help would be appreciated.

[2017-10-27 09:15] ghost commented on #186
@deft5746 Are you working on Simulator or real Car ?
There are a lot of car models with difference protocols among difference manufactures.
With some new model car we can get distance without GPS . But of course it depends on car models ( support or not support )

[2017-10-27 09:55] deft5746 commented on #186
Thank you for replying,
We were working on a simulator as we are just setting up the code right now but we didn't get the code for calculating the distance. Once we are done with the code setup then we will try it on a real car. We were working with this till now :

[https://github.com/Hesamedin/ELM327](url)